﻿@model BosquesPaz.Models.HistoriasBosques
@using (Ajax.BeginForm("Create", "Historia", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HistoriasContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_Bosque)
        <div class="row">
            <div class="col-md-3">
                <label>Temática:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_Tematica, new SelectList(ViewBag.Tematicas, "Id_Tematica", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_Tematica, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Descripción:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Enlace de video:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.EnlaceVideo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.EnlaceVideo, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Historia:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Historia, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Historia, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Estado:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_EstadoHistoria, new SelectList(ViewBag.EstadoHistorias, "Id_EstadoHistoria", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_EstadoHistoria, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnListadoHistoriaBosque" type="button" onclick="cargarListaHistoria(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

<script>

    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
