﻿@model BosquesPaz.Models.HistoriasBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Temática:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Tematicas.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Descripción:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Descripcion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Audio:</label>
        </div>
        <div class="col-md-8 inner-addon right-addon">
            <span class="glyphicon glyphicon-volume-up" />
            <input id="btnAudioHistoria" type="button" onclick="LoadCargaAudio(@Model.Id_HistoriaBosque)" value="Audio" class="btn btn-form" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Enlace de video:</label>
        </div>
        <div class="col-md-8">
            <a href="@Html.DisplayFor(model => model.EnlaceVideo, new { @class = "form-control" })" target="_blank"><span class="glyphicon glyphicon-link" />Enlace</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Historia:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Historia, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Estado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.EstadosHistorias.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de modificación:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaActualizacion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @{
                    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "Historias"))
                {
                    <input id="btnEditarHisotiasBosques" type="button" onclick="EditarHistoriaBosque(@Model.Id_HistoriaBosque)" value="Editar" class="btn btn-form" />
                }
                <input id="btnListadoHistoriasBosques" type="button" onclick="cargarListaHistoria(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>
