﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>EcoTech - Historias</title>
    <link rel="stylesheet" type="text/css" href="~/styles/blog_single_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/blog_single_responsive.css">
</head>
	<!-- Historia Individual -->
	<div class="single_post">
		<div class="container">
			<div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="single_post_title">@ViewBag.model.Nombre</div>
                    <script>LoadAudio(@ViewBag.model.Id_HistoriaBosque);</script>
                    <div class='h_@(ViewBag.model.Id_HistoriaBosque)'></div>
                    <div class="single_post_text">
                        <p>@ViewBag.model.Descripcion .</p>
                    </div>
                </div>
			</div>
		</div>
	</div>
    
<script src="~/plugins/parallax-js-master/parallax.min.js"></script>
<script src="~/js/blog_custom.js"></script>