﻿@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios;
<br />
<br />
@{
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}
@if (infraestructura.PermisoUsuario(info, "Crear", "Historias"))
{
    <input id="btnCrearHistoria" type="button" onclick="CrearHistoria(@ViewBag.idBosque);" value="Nuevo" class="btn btn-new" />
}
<br />
<br />
<div class="table-responsive">
    <div id="IndexHistoriasBosques"></div>
</div>
<script>
    $(function () {
        var DataHistoriasBosques = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Temática', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'Tematica'//, filtro: function () {
                    //    return anexGrid_input({
                    //        type: 'text'
                    //    });
                    //}
                },
                {
                    leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'Nombre'//, filtro: function () {
                    //    return anexGrid_select({
                    //        type: 'text'
                    //    });
                    //}
                },
                {
                    leyenda: 'Descripción', style: 'width:20%;', class: 'text-center', columna: 'Descripcion'
                },
                {
                    leyenda: 'Audio', style: 'width:20%;', class: 'text-center', columna: 'UrlAudio'
                },
                {
                    leyenda: 'Enlace de video', style: 'width:20%;', class: 'text-center', columna: 'EnlaceVideo'
                },
                {
                    leyenda: 'Fecha de modificación', style: 'width:20%;', class: 'text-center', columna: 'FechaActualizacion'
                },
                {
                    leyenda: 'Estado', style: 'width:20%;', class: 'text-center', columna: 'Estado'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleHistoriaBosque',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_HistoriaBosque
                         });
                     }
                 },
                 {
                     propiedad: 'Tematica', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Nombre', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Descripcion', style: 'text-align: justify;'
                 },
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-AudioHistoria',
                             contenido: '<span class="glyphicon glyphicon-volume-up" />',
                             value: obj.Id_HistoriaBosque
                         });
                     }
                 },
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-Enlace',
                             contenido: '<span class="glyphicon glyphicon-link" />',
                             value: obj.EnlaceVideo
                         });
                     }
                 },
                 {
                     propiedad: 'FechaActualizacion', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Estado', style: 'text-align: justify;'
                 },
            ],
            url: '@Url.Action("CargarGrilla", "Historia")' + '/' + @ViewBag.idBosque,
            limite: [5, 10, 20],
            columna: 'Id_HistoriaBosque',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridHistoriasBosques = $("#IndexHistoriasBosques").anexGrid(DataHistoriasBosques);

        GridHistoriasBosques.tabla().on('click', '.btn-DetalleHistoriaBosque', function () {
            DetalleHistoriaBosque(this.value);
        });
        GridHistoriasBosques.tabla().on('click', '.btn-AudioHistoria', function () {
            LoadCargaAudio(this.value);
        });

        GridHistoriasBosques.tabla().on('click', '.btn-Enlace', function () {
            VerEnlace(this.value)
        });
    });

    function VerEnlace(enlace){
        window.open(enlace);
    }
</script>
