﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>EcoTech - Historias</title>
    <link rel="stylesheet" type="text/css" href="~/styles/blog_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/blog_responsive.css">   
</head>   
 
    <div class="home">
        <div class="home_background parallax-window" data-parallax="scroll" data-image-src="/images/shop_background.jpg"></div>
        <div class="home_overlay"></div>
        <div class="home_content d-flex flex-column align-items-center justify-content-center">
            <h2 class="home_title">Historias</h2>
            @{
                if (@ViewBag.tematicaTitulo != null)
                {
            <h3 class="home_title">@ViewBag.tematicaTitulo</h3>
                }
            }

        </div>
    </div>

    <!-- Historias -->
    <div class="blog">
        <div class="container">
            <div class="row">
                <div class="col">
                    <br />
                    <br />
                    <div class="blog_posts d-flex flex-row align-items-start justify-content-between">
                        @{
                            int countHistorias = 0;
                            foreach (var item in ViewBag.allHistorias)
                            {
                                <!-- Blog post -->
                        <div class="blog_post" style="height:220px !important">
                            <div class="blog_image" style="height:60px !important">
                                <script>LoadAudio(@item.Id_HistoriaBosque);</script>
                                <div class='h_@(item.Id_HistoriaBosque)'></div>
                            </div>
                            <div class="blog_text">@item.Nombre </div>
                            <p>@item.Descripcion</p>
                            @{
                                var enlace = item.EnlaceVideo;
                                var split = enlace.Split('.');
                                if (split.Length > 1)
                                {
                                    <a href="@item.EnlaceVideo">
                                        
                                        <span class="glyphicon glyphicon-share">Enlace</span>
                                    </a>
                                }
                            }

                            <div class="blog_button"><a href='/Historia/details?id=@item.Id_HistoriaBosque'>Leer más</a></div>
                        </div>
                                countHistorias++;
                                if (countHistorias == 12) { break; }

                            }
                        }
                    </div>
                </div>

            </div>
        </div>
    </div>

<script src="~/plugins/parallax-js-master/parallax.min.js"></script>
<script src="~/js/blog_custom.js"></script>

