@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
	3.1 Top Bar
	3.2 Header Main
	3.3 Main Navigation
	3.4 Page Menu
4. Home
5. Blog
6. Newsletter
7. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900|Rubik:300,400,500,700,900');

/*********************************
2. Body and some general stuff
*********************************/

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

body {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background: #FFFFFF;
	color: #000000;
}

div {
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

ul {
	list-style: none;
	margin-bottom: 0px;
}

p {
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	line-height: 1.7;
	font-weight: 400;
	color: #828282;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a {
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 1px #ffa07f;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

a,
a:hover,
a:visited,
a:active,
a:link {
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

p a:active {
	position: relative;
	color: #FF6347;
}

p a:hover {
	color: #FFFFFF;
	background: #ffa07f;
}

p a:hover::after {
	opacity: 0.2;
}

::selection {}

p::selection {}

h1 {
	font-size: 48px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 24px;
}

h4 {
	font-size: 18px;
}

h5 {
	font-size: 14px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
	text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection {}

.form-control {
	color: #db5246;
}

section {
	display: block;
	position: relative;
	box-sizing: border-box;
}

.clear {
	clear: both;
}

.clearfix::before,
.clearfix::after {
	content: "";
	display: table;
}

.clearfix::after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.float_left {
	float: left;
}

.float_right {
	float: right;
}

.trans_200 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.trans_300 {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}

.trans_400 {
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}

.trans_500 {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.fill_height {
	height: 100%;
}

.super_container {
	width: 100%;
	overflow: hidden;
}

.prlx_parent {
	overflow: hidden;
}

.prlx {
	height: 130% !important;
}

.nopadding {
	padding: 0px !important;
}

.button {
	display: inline-block;
	background: #53A84E;
	border-radius: 5px;
	height: 48px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.button a {
	display: block;
	font-size: 18px;
	font-weight: 400;
	line-height: 48px;
	color: #FFFFFF;
	padding-left: 35px;
	padding-right: 35px;
}

.button:hover {
	opacity: 0.8;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}

.rating_r i::before {
	font-family: 'FontAwesome';
	content: "\f006";
	font-style: normal;
	font-size: 19px;
	margin-right: 4px;
	color: #f5e211;
}

.rating_r_1 i:first-child::before {
	content: "\f005";
}

.rating_r_2 i:first-child::before {
	content: "\f005";
}

.rating_r_2 i:nth-child(2)::before {
	content: "\f005";
}

.rating_r_3 i:first-child::before {
	content: "\f005";
}

.rating_r_3 i:nth-child(2)::before {
	content: "\f005";
}

.rating_r_3 i:nth-child(3)::before {
	content: "\f005";
}

.rating_r_4 i:first-child::before {
	content: "\f005";
}

.rating_r_4 i:nth-child(2)::before {
	content: "\f005";
}

.rating_r_4 i:nth-child(3)::before {
	content: "\f005";
}

.rating_r_4 i:nth-child(4)::before {
	content: "\f005";
}

.rating_r_5 i:first-child::before {
	content: "\f005";
}

.rating_r_5 i:nth-child(2)::before {
	content: "\f005";
}

.rating_r_5 i:nth-child(3)::before {
	content: "\f005";
}

.rating_r_5 i:nth-child(4)::before {
	content: "\f005";
}

.rating_r_5 i:nth-child(5)::before {
	content: "\f005";
}



/* Wrapper */

.wrapper {
	position: relative;
}

.wrapper>.inner {
	margin: 0 auto;
	width: 60em;
}

.wrapper.style1 {
	background-color: #e5474b;
	color: #f2a3a5;
}

.wrapper.style1 input,
.wrapper.style1 select,
.wrapper.style1 textarea {
	color: #ffffff;
}

.wrapper.style1 a {
	color: #ffffff;
}

.wrapper.style1 strong,
.wrapper.style1 b {
	color: #ffffff;
}

.wrapper.style1 h1,
.wrapper.style1 h2,
.wrapper.style1 h3,
.wrapper.style1 h4,
.wrapper.style1 h5,
.wrapper.style1 h6 {
	color: #fff;
}

.wrapper.style1 blockquote {
	border-left-color: #fff;
}

.wrapper.style1 code {
	background: none;
	border-color: #fff;
}

.wrapper.style1 hr {
	border-bottom-color: #fff;
}

.wrapper.style1 .box {
	border-color: #fff;
}

.wrapper.style1 input[type="submit"],
.wrapper.style1 input[type="reset"],
.wrapper.style1 input[type="button"],
.wrapper.style1 button,
.wrapper.style1 .button {
	background-color: #5a5a5a;
	color: #ffffff !important;
}

.wrapper.style1 input[type="submit"]:hover,
.wrapper.style1 input[type="reset"]:hover,
.wrapper.style1 input[type="button"]:hover,
.wrapper.style1 button:hover,
.wrapper.style1 .button:hover {
	background-color: #676767;
}

.wrapper.style1 input[type="submit"]:active,
.wrapper.style1 input[type="reset"]:active,
.wrapper.style1 input[type="button"]:active,
.wrapper.style1 button:active,
.wrapper.style1 .button:active {
	background-color: #4d4d4d;
}

.wrapper.style1 input[type="submit"].alt,
.wrapper.style1 input[type="reset"].alt,
.wrapper.style1 input[type="button"].alt,
.wrapper.style1 button.alt,
.wrapper.style1 .button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #fff;
	color: #ffffff !important;
}

.wrapper.style1 input[type="submit"].alt:hover,
.wrapper.style1 input[type="reset"].alt:hover,
.wrapper.style1 input[type="button"].alt:hover,
.wrapper.style1 button.alt:hover,
.wrapper.style1 .button.alt:hover {
	background: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="submit"].alt:active,
.wrapper.style1 input[type="reset"].alt:active,
.wrapper.style1 input[type="button"].alt:active,
.wrapper.style1 button.alt:active,
.wrapper.style1 .button.alt:active {
	background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style1 input[type="submit"].alt.icon:before,
.wrapper.style1 input[type="reset"].alt.icon:before,
.wrapper.style1 input[type="button"].alt.icon:before,
.wrapper.style1 button.alt.icon:before,
.wrapper.style1 .button.alt.icon:before {
	color: #f8d1d2;
}

.wrapper.style1 input[type="submit"].special,
.wrapper.style1 input[type="reset"].special,
.wrapper.style1 input[type="button"].special,
.wrapper.style1 button.special,
.wrapper.style1 .button.special {
	background-color: #ffffff;
	color: #e5474b !important;
}

.wrapper.style1 label {
	color: #ffffff;
}

.wrapper.style1 input[type="text"],
.wrapper.style1 input[type="password"],
.wrapper.style1 input[type="email"],
.wrapper.style1 select,
.wrapper.style1 textarea {
	background: none;
	border-color: rgba(255, 255, 255, 0.25);
}

.wrapper.style1 input[type="text"]:focus,
.wrapper.style1 input[type="password"]:focus,
.wrapper.style1 input[type="email"]:focus,
.wrapper.style1 select:focus,
.wrapper.style1 textarea:focus {
	border-color: #ffffff;
	box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 .select-wrapper:before {
	color: #fff;
}

.wrapper.style1 input[type="checkbox"]+label,
.wrapper.style1 input[type="radio"]+label {
	color: #f2a3a5;
}

.wrapper.style1 input[type="checkbox"]+label:before,
.wrapper.style1 input[type="radio"]+label:before {
	background: none;
	border-color: #fff;
}

.wrapper.style1 input[type="checkbox"]:checked+label:before,
.wrapper.style1 input[type="radio"]:checked+label:before {
	background-color: #ffffff;
	border-color: #ffffff;
	color: #e5474b;
}

.wrapper.style1 input[type="checkbox"]:focus+label:before,
.wrapper.style1 input[type="radio"]:focus+label:before {
	border-color: #ffffff;
	box-shadow: 0 0 0 1px #ffffff;
}

.wrapper.style1 ::-webkit-input-placeholder {
	color: #f8d1d2 !important;
}

.wrapper.style1 :-moz-placeholder {
	color: #f8d1d2 !important;
}

.wrapper.style1 ::-moz-placeholder {
	color: #f8d1d2 !important;
}

.wrapper.style1 :-ms-input-placeholder {
	color: #f8d1d2 !important;
}

.wrapper.style1 .formerize-placeholder {
	color: #f8d1d2 !important;
}

.wrapper.style1 ul.alt li {
	border-top-color: #fff;
}

.wrapper.style1 header p {
	color: #f8d1d2;
}

.wrapper.style1 table tbody tr {
	border-color: #fff;
}

.wrapper.style1 table tbody tr:nth-child(2n + 1) {
	background-color: none;
}

.wrapper.style1 table th {
	color: #ffffff;
}

.wrapper.style1 table thead {
	border-bottom-color: #fff;
}

.wrapper.style1 table tfoot {
	border-top-color: #fff;
}

.wrapper.style1 table.alt tbody tr td {
	border-color: #fff;
}

.wrapper.style2 {
	background-color: #5a5a5a;
	color: #d5d5d5;
}

.wrapper.style2 input,
.wrapper.style2 select,
.wrapper.style2 textarea {
	color: #ffffff;
}

.wrapper.style2 a {
	color: #e5474b;
}

.wrapper.style2 strong,
.wrapper.style2 b {
	color: #ffffff;
}

.wrapper.style2 blockquote {
	border-left-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 code {
	background: rgba(255, 255, 255, 0.075);
	border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 hr {
	border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 .box {
	border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="submit"],
.wrapper.style2 input[type="reset"],
.wrapper.style2 input[type="button"],
.wrapper.style2 button,
.wrapper.style2 .button {
	background-color: #ffffff;
	color: #5a5a5a !important;
}

.wrapper.style2 input[type="submit"].alt,
.wrapper.style2 input[type="reset"].alt,
.wrapper.style2 input[type="button"].alt,
.wrapper.style2 button.alt,
.wrapper.style2 .button.alt {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.15);
	color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].alt:hover,
.wrapper.style2 input[type="reset"].alt:hover,
.wrapper.style2 input[type="button"].alt:hover,
.wrapper.style2 button.alt:hover,
.wrapper.style2 .button.alt:hover {
	background: rgba(255, 255, 255, 0.5);
}

.wrapper.style2 input[type="submit"].alt:active,
.wrapper.style2 input[type="reset"].alt:active,
.wrapper.style2 input[type="button"].alt:active,
.wrapper.style2 button.alt:active,
.wrapper.style2 .button.alt:active {
	background-color: rgba(255, 255, 255, 0.2);
}

.wrapper.style2 input[type="submit"].alt.icon:before,
.wrapper.style2 input[type="reset"].alt.icon:before,
.wrapper.style2 input[type="button"].alt.icon:before,
.wrapper.style2 button.alt.icon:before,
.wrapper.style2 .button.alt.icon:before {
	color: #bdbdbd;
}

.wrapper.style2 input[type="submit"].special,
.wrapper.style2 input[type="reset"].special,
.wrapper.style2 input[type="button"].special,
.wrapper.style2 button.special,
.wrapper.style2 .button.special {
	background-color: #e5474b;
	color: #ffffff !important;
}

.wrapper.style2 input[type="submit"].special:hover,
.wrapper.style2 input[type="reset"].special:hover,
.wrapper.style2 input[type="button"].special:hover,
.wrapper.style2 button.special:hover,
.wrapper.style2 .button.special:hover {
	background-color: #e85d61;
}

.wrapper.style2 input[type="submit"].special:active,
.wrapper.style2 input[type="reset"].special:active,
.wrapper.style2 input[type="button"].special:active,
.wrapper.style2 button.special:active,
.wrapper.style2 .button.special:active {
	background-color: #e23135;
}

.wrapper.style2 label {
	color: #ffffff;
}

.wrapper.style2 input[type="text"],
.wrapper.style2 input[type="password"],
.wrapper.style2 input[type="email"],
.wrapper.style2 select,
.wrapper.style2 textarea {
	background: rgba(255, 255, 255, 0.075);
	border-color: rgba(255, 255, 255, 0.5);
}

.wrapper.style2 input[type="text"]:focus,
.wrapper.style2 input[type="password"]:focus,
.wrapper.style2 input[type="email"]:focus,
.wrapper.style2 select:focus,
.wrapper.style2 textarea:focus {
	border-color: #e5474b;
	box-shadow: 0 0 0 1px #e5474b;
}

.wrapper.style2 .select-wrapper:before {
	color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="checkbox"]+label,
.wrapper.style2 input[type="radio"]+label {
	color: #d5d5d5;
}

.wrapper.style2 input[type="checkbox"]+label:before,
.wrapper.style2 input[type="radio"]+label:before {
	background: rgba(255, 255, 255, 0.075);
	border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 input[type="checkbox"]:checked+label:before,
.wrapper.style2 input[type="radio"]:checked+label:before {
	background-color: #e5474b;
	border-color: #e5474b;
	color: #ffffff;
}

.wrapper.style2 input[type="checkbox"]:focus+label:before,
.wrapper.style2 input[type="radio"]:focus+label:before {
	border-color: #e5474b;
	box-shadow: 0 0 0 1px #e5474b;
}

.wrapper.style2 ::-webkit-input-placeholder {
	color: #bdbdbd !important;
}

.wrapper.style2 :-moz-placeholder {
	color: #bdbdbd !important;
}

.wrapper.style2 ::-moz-placeholder {
	color: #bdbdbd !important;
}

.wrapper.style2 :-ms-input-placeholder {
	color: #bdbdbd !important;
}

.wrapper.style2 .formerize-placeholder {
	color: #bdbdbd !important;
}

.wrapper.style2 ul.alt li {
	border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 header p {
	color: #bdbdbd;
}

.wrapper.style2 table tbody tr {
	border-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table tbody tr:nth-child(2n + 1) {
	background-color: rgba(255, 255, 255, 0.075);
}

.wrapper.style2 table th {
	color: #ffffff;
}

.wrapper.style2 table thead {
	border-bottom-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table tfoot {
	border-top-color: rgba(255, 255, 255, 0.15);
}

.wrapper.style2 table.alt tbody tr td {
	border-color: rgba(255, 255, 255, 0.15);
}

@media screen and (max-width: 1280px) {

	.wrapper>.inner {
		width: 65em;
	}

}

@media screen and (max-width: 980px) {

	.wrapper>.inner {
		width: 100%;
	}

}

/* Header */

body {
	position: relative;
	padding-top: 5em;
}

#header {
	background: #3B2D13;
	color: #d5d5d5;
	cursor: default;
	height: 5em;
	left: 0;
	line-height: 5em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 100%;
	z-index: 10001;
}

#header .inner {
	max-width: 65em;
	width: calc(100% - 6em);
	margin: 0 auto;
	position: relative;
}

@media screen and (max-width: 480px) {

	#header .inner {
		max-width: 90%;
		width: 90%;
	}

}

#header .logo {
	font-family: 'Montserrat';
	display: inline-block;
	height: inherit;
	left: 0;
	line-height: inherit;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	color: #53A84E;
	font-size: 2.5em;
	text-transform: none;
	font-weight: normal;
	padding: 0;
}

#header .logo:hover {
	color: white;
}

#header a {

	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	display: inline-block;
	padding: 0 2em;
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	font-size: .85em;
}

#header a:hover {
	color: rgba(255, 255, 255, 0.75);
}

#header a:last-child {
	padding-right: 0em;
}

@media screen and (max-width: 736px) {

	#header a {
		padding: 0 0.5em;
	}

}

@media screen and (max-width: 480px) {

	#header {
		min-width: 320px;
	}

}

/* Menu */

#nav {
	display: inline-block;
}

@media screen and (max-width: 980px) {

	#nav {
		display: none;
	}

}

.navPanelToggle {
	position: fixed;
	text-decoration: none;
	height: 4em;
	right: 3em;
	top: .75em;
	width: 4em;
	display: none;
	z-index: 10002;
}

.navPanelToggle:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
	color: #fff;
	display: block;
	font-size: 16px;
	height: 2.25em;
	left: 0.5em;
	line-height: 2.25em;
	position: absolute;
	text-align: center;
	top: 0.5em;
	width: 3.5em;
}

@media screen and (max-width: 980px) {

	.navPanelToggle {
		display: block;
	}

}

@media screen and (max-width: 736px) {

	.navPanelToggle {
		right: 1em;
	}

}

.navPanelToggle *:before {
	color: #fff;
	display: block;
	font-size: 16px;
	height: 2.25em;
	left: 0.5em;
	line-height: 2.25em;
	position: absolute;
	text-align: center;
	top: 0.5em;
	width: 3.5em;
}

#navPanel {
	-moz-transform: translatex(20em);
	-webkit-transform: translatex(20em);
	-ms-transform: translatex(20em);
	transform: translatex(20em);
	-moz-transition: -moz-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
	-webkit-transition: -webkit-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
	-ms-transition: -ms-transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
	transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out;
	-webkit-overflow-scrolling: touch;
	visibility: hidden;
	overflow-y: auto;
	position: fixed;
	right: 0;
	top: 0;
	background: #1c1c1c;
	color: #fff;
	height: 100%;
	max-width: 80%;
	width: 20em;
	padding: 1.5em;
	text-transform: uppercase;
	z-index: 10003;
	display: none;
}

#navPanel.visible {
	-moz-transform: translatex(0);
	-webkit-transform: translatex(0);
	-ms-transform: translatex(0);
	transform: translatex(0);
	box-shadow: 0 0 1.5em 0 rgba(0, 0, 0, 0.2);
	visibility: visible;
}

#navPanel a:not(.close) {
	border-top: solid 1px rgba(255, 255, 255, 0.1);
	color: #fff;
	font-weight: 700;
	display: block;
	padding: 0.75em 0;
	text-decoration: none;
}

#navPanel a:not(.close):first-child {
	border: none;
}

#navPanel .close {
	text-decoration: none;
	-moz-transition: color 0.2s ease-in-out;
	-webkit-transition: color 0.2s ease-in-out;
	-ms-transition: color 0.2s ease-in-out;
	transition: color 0.2s ease-in-out;
	-webkit-tap-highlight-color: transparent;
	border: 0;
	color: #484848;
	cursor: pointer;
	display: block;
	height: 4em;
	padding-right: 1.25em;
	position: absolute;
	right: 0;
	text-align: right;
	top: 0;
	vertical-align: middle;
	width: 5em;
}

#navPanel .close:before {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-family: FontAwesome;
	font-style: normal;
	font-weight: normal;
	text-transform: none !important;
	content: '\f00d';
	width: 3em;
	height: 3em;
	line-height: 3em;
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	text-align: center;
}

#navPanel .close:hover {
	color: inherit;
}

@media screen and (max-width: 980px) {

	#navPanel {
		display: block;
	}

}






/*********************************
3.3 Main Navigation
*********************************/

.main_nav {
	width: 100%;
	border-top: solid 1px #f2f2f2;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	background: #FFFFFF;
}

.header.scrolled .main_nav {
	position: fixed;
	top: 0;
	left: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.main_nav_content {
	width: 100%;
	height: 60px;
}

.cat_menu_container {
	width: 293px;
	height: 100%;
	background: #53A84E;
	padding-left: 35px;
	cursor: pointer;
	z-index: 1;
}

.cat_menu_title {
	height: 100%;
}

.cat_burger {
	width: 18px;
	height: 14px;
}

.cat_burger span {
	display: block;
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background: #53A84E;
}

.cat_burger span:nth-child(2) {
	top: 6px;
}

.cat_burger span:nth-child(3) {
	top: 12px;
}

.cat_menu_text {
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-left: 20px;
}

.cat_menu_container ul {
	display: block;
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	opacity: 0;
	min-width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}

.cat_menu_container>ul {
	padding-top: 13px;
}

.cat_menu_container:hover .cat_menu {
	visibility: visible;
	opacity: 1;
}

.cat_menu li {
	display: block;
	position: relative;
	width: auto;
	height: 46px;
	border-bottom: solid 1px #f2f2f2;
	padding-left: 35px;
	padding-right: 30px;
	white-space: nowrap;
}

.cat_menu li.hassubs>a i {
	display: block;
}

.cat_menu li a {
	display: block;
	position: relative;
	font-size: 16px;
	font-weight: 300;
	color: #000000;
	line-height: 46px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.cat_menu li a:hover {
	color: #53A84E;
}

.cat_menu li a i {
	display: none;
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 0;
	font-size: 12px;
}

.cat_menu li ul {
	display: block;
	position: absolute;
	top: 35px;
	left: 100%;
	visibility: hidden;
	opacity: 0;
	width: 100%;
	background: #FFFFFF;
	box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.1);
}

.cat_menu li:hover>ul {
	top: 0;
	visibility: visible;
	opacity: 1;
}

.main_nav_dropdown li {
	margin-right: 35px;
}

.main_nav_dropdown li:last-child {
	margin-right: 0px;
}

.main_nav_dropdown li a {
	font-size: 18px;
	font-weight: 400;
	color: #a19a9a;
	line-height: 60px;
}

.main_nav_dropdown li li {
	padding-left: 15px;
	padding-right: 15px;
	margin-right: 0px;
}

.menu_trigger_container {
	display: none;
	width: auto;
	height: 100%;
	padding-right: 25px;
	padding-left: 25px;
	cursor: pointer;
}

.menu_trigger {
	height: 100%;
}

.menu_burger_inner {
	display: inline-block;
}

.menu_trigger_text {
	display: inline-block;
	font-size: 18px;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: uppercase;
	margin-right: 16px;
}

/*********************************
3.4 Page Menu
*********************************/

.page_menu {
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}

.page_menu_content {
	height: 0px;
	background: #53A84E;
	padding-left: 15px;
	padding-right: 15px;
	overflow: hidden;
}

.page_menu_search {
	display: none;
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}

.page_menu_search_input {
	width: 100%;
	height: 40px;
	background: #FFFFFF;
	border: none;
	outline: none;
	padding-left: 25px;
}

.page_menu_nav {
	padding-top: 15px;
}

.page_menu_item {
	display: block;
	position: relative;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	vertical-align: middle;
}

.page_menu_item>a {
	display: block;
	color: #FFFFFF;
	font-weight: 500;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	text-transform: uppercase;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.page_menu_item>a:hover {
	color: #b5aec4;
}

.page_menu_item a i {
	display: none;
	margin-left: 8px;
}

.page_menu_item.has-children>a>i {
	display: inline-block;
}

.page_menu_selection {
	margin: 0;
	width: 100%;
	height: 0px;
	overflow: hidden;
	z-index: 1;
}

.page_menu_selection li {
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
}

.page_menu_selection li a {
	display: block;
	color: #FFFFFF;
	border-bottom: solid 1px rgba(255, 255, 255, 0.1);
	font-size: 14px;
	text-transform: uppercase;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}

.page_menu_selection li a:hover {
	color: #b5aec4;
}

.page_menu_selection li:last-child a {
	border-bottom: none;
}

.menu_contact_item {
	display: inline-block;
	font-size: 12px;
	font-weight: 300;
	line-height: 56px;
	margin-right: 40px;
	color: #FFFFFF;
}

.menu_contact_item:not(:first-child) {
	margin-right: 0px;
}

.menu_contact_item a {
	font-size: 12px;
	font-weight: 300;
	line-height: 56px;
	color: #FFFFFF;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.menu_contact_item a:hover {
	color: #8a8a8a;
}

.menu_contact_item:last-child {
	margin-right: 0px;
}

.menu_contact_icon {
	display: inline-block;
	margin-right: 14px;
	-webkit-transform: translateY(-2px);
	-moz-transform: translateY(-2px);
	-ms-transform: translateY(-2px);
	-o-transform: translateY(-2px);
	transform: translateY(-2px);
}

/*********************************
4. Home
*********************************/

.home {
	width: 100%;
	height: 130px;
	background: transparent;
}

.home_background {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}

.home_overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #cde4f1;
	background: linear-gradient(#FFFFFF, #cde4f1);
	opacity: 0.9;
}

.home_content {
	width: 100%;
	height: 100%;
}

/*********************************
5. Blog
*********************************/

.blog {
	padding-top: 5px;
	padding-bottom: 10px;
	background: #FFFFFF;
}

.blog_posts {
	width: 100%;
	flex-wrap: wrap;
}

.blog_post {
	width: calc((100% - 60px) / 3);
	height: 290px;
	margin-bottom: 30px;
	border-radius: 5px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
	z-index: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.blog_post:hover {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	z-index: 1;
}

.blog_image {
	width: 100%;
	height: 160px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.blog_text {
	padding-left: 31px;
	padding-right: 31px;
	padding-top: 21px;
	padding-bottom: 30px;
	font-size: 18px;
	font-weight: 500;
}

.blog_button {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 48px;
	background: #53A84E;
	text-align: center;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.blog_button:hover {
	background: #53A84E;
}

.blog_post:hover .blog_button {
	visibility: visible;
	opacity: 1;
}

.blog_button a {
	display: block;
	color: #FFFFFF;
	line-height: 48px;
	font-size: 18px;
}

/*********************************
6. Newsletter
*********************************/

.newsletter {
	width: 100%;
	background: #fafafa;
	padding-top: 60px;
	padding-bottom: 60px;
	box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
}

.newsletter_container {
	width: 100%;
}

.newsletter_title_container {
	width: 40%;
	padding-left: 95px;
}

.newsletter_icon {
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 0;
}

.newsletter_title {
	font-size: 18px;
	color: #000000;
}

.newsletter_text p:last-child {
	margin-bottom: 0;
}

.newsletter_icon img {
	max-width: 100%;
}

.newsletter_content {
	width: 60%;
}

.newsletter_form {
	position: relative;
	width: 569px;
	float: left;
}

.newsletter_input {
	width: 100%;
	height: 50px;
	background: #FFFFFF;
	border: solid 1px #e5e5e5;
	border-radius: 5px;
	padding-left: 25px;
	font-size: 16px;
	outline: none;
	color: #53A84E;
}

.newsletter_input:focus {
	border: solid 1px rgba(14, 140, 228, 0.3);
	box-shadow: 0px 1px 5px rgba(14, 140, 228, 0.3);
}

.newsletter_input::-webkit-input-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input:-moz-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input::-moz-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input:-ms-input-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_input::input-placeholder {
	font-size: 16px;
	color: rgba(0, 0, 0, 0.3);
}

.newsletter_button {
	position: absolute;
	top: 0;
	right: 0;
	width: 153px;
	height: 50px;
	background: #53A84E;
	color: #FFFFFF;
	line-height: 50px;
	font-size: 18px;
	border: none;
	outline: none;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

.newsletter_button:hover {
	opacity: 0.8;
}

.newsletter_unsubscribe_link {
	float: right;
	text-align: right;
	height: 50px;
}

.newsletter_unsubscribe_link a {
	font-size: 10px;
	color: #53A84E;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	line-height: 50px;
}

.newsletter_unsubscribe_link a:hover {
	color: #0d82d3;
}

/*********************************
7. Footer
*********************************/

.footer {
	padding-top: 52px;
	padding-bottom: 40px;
}

.footer .logo_container {
	height: auto;
	margin-bottom: 18px;
	margin-top: -10px;
}

.footer .logo {
	top: auto;
	-webkit-transform: transform: none;
	-moz-transform: transform: none;
	-ms-transform: transform: none;
	-o-transform: transform: none;
	transform: none;
}

.footer .logo a {
	color: #000000;
}

.footer_title {
	font-size: 14px;
	font-weight: 500;
	color: #000000;
}

.footer_phone {
	font-size: 18px;
	font-weight: 500;
	color: #53A84E;
	margin-top: 13px;
}

.footer_contact_text {
	margin-top: 10px;
}

.footer_contact_text p {
	margin-bottom: 0px;
}

.footer_social {
	margin-top: 27px;
}

.footer_social ul li {
	display: inline-block;
	width: 30px;
	height: 30px;
	background: #fafafa;
	border-radius: 50%;
	cursor: pointer;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
	margin-right: 16px;
	text-align: center;
}

.footer_social ul li i {
	color: #000000;
	line-height: 30px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.footer_social ul li:hover i {
	color: #53A84E;
}

.footer_subtitle {
	font-size: 12px;
	color: #000000;
}

.footer_column ul:first-of-type {
	margin-top: 21px;
}

.footer_column ul {
	margin-top: 7px;
}

.footer_list li {
	margin-bottom: 6px;
}

.footer_list li a {
	font-size: 12px;
	font-weight: 500;
	color: rgba(0, 0, 0, 0.4);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}

.footer_list li a:hover {
	color: #53A84E;
}

.footer_list_2 {
	margin-top: 42px !important;
}

.copyright {
	width: 100%;
	background: #fafafa;
}
.copyright_container
{
	width: 100%;
	height: auto;
}
.copyright_content{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.copyright_content>a>img {
 max-height: 80px;
 margin-right: 80px;
}
@media only screen and (max-width: 480px) {

 .copyright_content>a>img {
	 max-height: 40px;
	 margin-right: 10px;
 }

}

.logos {}

.logos_list li {
	display: inline-block;
	margin-right: 16px;
}

.logos_list li:last-child {
	margin-right: 0px;
}


.messenger {
	width: 90px;
	height: 240px;
	position: absolute;
	right: 5px;
	display: scroll;
	position: fixed;
	z-index: 1;
	bottom: 0px;
}

.botonF1 span {
	transition: .5s;
}

.botonF1 {
	width: 60px;
	height: 60px;
	border-radius: 100%;
	background: #0084FF;
	right: 0;
	bottom: 0;
	position: absolute;
	margin-right: 16px;
	margin-bottom: 16px;
	border: none;
	outline: none;
	color: #FFF;
	font-size: 36px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	transition: .3s;
}

.botonF1:hover span {
	transform: rotate(360deg);
}

.botonF1:active {
	transform: scale(1.1);
}

.btn {
	width: auto;
	height: auto;
	/*border-radius:100%;*/
	border: none;
	color: #FFF;
	/*box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);*/
	font-size: 20px;
	outline: none;
	position: absolute;
	right: 0;
	bottom: 0;
	margin-right: 70px;
	transform: scale(0);
}

.botonF2 {
	background: none;
	color: black;
	margin-bottom: 16px;
	transition: 0.5s;
}

.animacionVer {
	transform: scale(1);
}