﻿.loader {
  font-size: 20px;
  margin: 45% auto;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  color: black;
  position: relative;
  text-indent: -9999em;
  -webkit-animation: load4 1.3s infinite linear;
  animation: load4 1.3s infinite linear;
}
@-webkit-keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #99ddff, 2em -2em 0 0em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 0em #99ddff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #99ddff, 2em -2em 0 0.2em #99ddff, 3em 0em 0 0em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 0em #99ddff, 3em 0em 0 0.2em #99ddff, 2em 2em 0 0em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 0em #99ddff, 2em 2em 0 0.2em #99ddff, 0em 3em 0 0em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 0em #99ddff, 0em 3em 0 0.2em #99ddff, -2em 2em 0 0em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 0em #99ddff, -2em 2em 0 0.2em #99ddff, -3em 0em 0 0em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 0em #99ddff, -3em 0em 0 0.2em #99ddff, -2em -2em 0 0em #99ddff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 0em #99ddff, -3em 0em 0 0em #99ddff, -2em -2em 0 0.2em #99ddff;
  }
}
@keyframes load4 {
  0%,
  100% {
    box-shadow: 0em -3em 0em 0.2em #99ddff, 2em -2em 0 0em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 0em #99ddff;
  }
  12.5% {
    box-shadow: 0em -3em 0em 0em #99ddff, 2em -2em 0 0.2em #99ddff, 3em 0em 0 0em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  25% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 0em #99ddff, 3em 0em 0 0.2em #99ddff, 2em 2em 0 0em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  37.5% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 0em #99ddff, 2em 2em 0 0.2em #99ddff, 0em 3em 0 0em #99ddff, -2em 2em 0 -0.5em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  50% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 0em #99ddff, 0em 3em 0 0.2em #99ddff, -2em 2em 0 0em #99ddff, -3em 0em 0 -0.5em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  62.5% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 0em #99ddff, -2em 2em 0 0.2em #99ddff, -3em 0em 0 0em #99ddff, -2em -2em 0 -0.5em #99ddff;
  }
  75% {
    box-shadow: 0em -3em 0em -0.5em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 0em #99ddff, -3em 0em 0 0.2em #99ddff, -2em -2em 0 0em #99ddff;
  }
  87.5% {
    box-shadow: 0em -3em 0em 0em #99ddff, 2em -2em 0 -0.5em #99ddff, 3em 0em 0 -0.5em #99ddff, 2em 2em 0 -0.5em #99ddff, 0em 3em 0 -0.5em #99ddff, -2em 2em 0 0em #99ddff, -3em 0em 0 0em #99ddff, -2em -2em 0 0.2em #99ddff;
  }
}