﻿@model BosquesPaz.Models.Bosques

@using (Ajax.BeginForm("Create", "Bosque", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "BosquesContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Departamento:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Id_Departamento, new SelectList(ViewBag.Departamentos, "Id_Departamento", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single", @id = "Departamentos", @onchange = "onChangeDepartamentos($(this).val(),'MunicipiosBosques')" })
                @Html.ValidationMessageFor(model => model.Id_Departamento, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Municipio:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Id_Municipio, new SelectList(ViewBag.Municipios, "Id_Municipio", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single", @id = "MunicipiosBosques" })
                @Html.ValidationMessageFor(model => model.Id_Municipio, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NombreBosque, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreBosque, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Comunidad:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Comunidades, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Comunidades, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Latitud:</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Latitud, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Latitud, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="col-md-6">
                <div class="col-md-3">
                    <label>Longitud:</label>
                </div>
                <div class="col-md-8">
                    @Html.EditorFor(model => model.Longitud, new { htmlAttributes = new { @class = "form-control"  } })
                    @Html.ValidationMessageFor(model => model.Longitud, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-12">
                <div id="mapBosqueCreate" style="height: 300px;"></div>
                <script>
                    var map = L.map('mapBosqueCreate').setView([4.635556, -74.082778], 10);
                    L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

                    var popUp = L.popup();
                    popUp.setLatLng([4.635556, -74.082778]).setContent("Por favor de click para seleccional la ubicacion del bosque").openOn(map);
                    var marker = null;
                    function onMapClick(e) {
                        if(marker)
                            map.removeLayer(marker);
                        marker = L.marker(e.latlng).addTo(map);
                        setTimeout(function(){
                            $("#Longitud").val(e.latlng.lng)
                            $("#Latitud").val(e.latlng.lat)
                        }, 200);
                    }
                    
                    map.on('click', onMapClick);

                </script>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnListadoAnalisisDeRiesgo" type="button" onclick="cargarListaBosques()" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(".chosen-select").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_multiple: 'SELECCIONE...',
        display_selected_options: false
    });

    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
