﻿@model BosquesPaz.Models.Bosques
@{
    ///Inicializa una variable de sesion con el proposito de cargar los submodulo por url
    Session["idBosque"] = Model.Id_Bosque;
}
<div class="form-group">
    <p id="demo"></p>
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Departamento:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Departamentos.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Municipio:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Municipios.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NombreBosque, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Comunidad:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Comunidades, new { @class = "form-control" })
        </div>
    </div>
    <div class="row">
        <div class="w3-container">
            <div class="w3-panel w3-border w3-round w3-border-gray">
                <div class="w3-row">
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Recursos');">
                        <div id="RecursosTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue" style="width:20%;">Recursos</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Actividades');">
                        <div id="ActividadesTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Actividades</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Individuos');">
                        <div id="IndividuosTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Individuos y especies</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Indicadores');">
                        <div id="IndicadoresTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Indicadores</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Productos');">
                        <div id="ProductosTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Productos y servicios</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Fichas');">
                        <div id="FichasTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Ficha</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openBosques(event, 'DatosContactos');">
                        <div id="DatosContactosTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Datos de contacto</div>
                    </a>
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Historias');">
                        <div id="HistoriasTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Historias</div>
                    </a>
                </div>

                <div id="Recursos" class="w3-container bosqueSub">
                    <div id="AdministradorRecursosContainer" style="width:100%">
                        <script>
                            cargarListaAdministradorRecursos(@Model.Id_Bosque);
                        </script>
                    </div>
                </div>
                <div id="Actividades" class="w3-container bosqueSub"  style="display:none">
                    <div id="AdministradorActividadesContainer" style="width:100%">

                    </div>
                </div>
                <div id="Indicadores" class="w3-container bosqueSub"  style="display:none">
                    <div id="IndicadoresContainer" style="width:100%">

                    </div>
                </div>
                <div id="Individuos" class="w3-container bosqueSub" style="display:none">
                    <div id="IndividuosContainer" style="width:100%">
                        
                    </div>
                </div>
                <div id="Productos" class="w3-container bosqueSub"  style="display:none">
                    <div id="ProductosContainer" style="width:100%">

                    </div>
                </div>
                <div id="Fichas" class="w3-container bosqueSub" style="display:none">
                    <div id="FichasContainer" style="width:100%">

                    </div>
                </div>
                <div id="DatosContactos" class="w3-container bosqueSub" style="display:none">
                    <div id="DatosContactosContainer" style="width:100%">

                    </div>
                </div>
                <div id="Historias" class="w3-container bosqueSub" style="display:none">
                    <div id="HistoriasContainer" style="width:100%">

                    </div>
                </div>
            </div>

        </div>
    </div>

    <br />
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                <input id="btnListadoBosques" type="button" onclick="cargarListaBosques()" value="Volver Listado Bosques" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>


<script>
    cargarListaAdministradorActividades(@Model.Id_Bosque);
    cargarListaIndicadores(@Model.Id_Bosque);

    if (@ViewBag.BosqueModuloId > 0 && '@ViewBag.BosqueModulo' == "Individuos") {
        DetalleIndividuoEspecie(@ViewBag.BosqueModuloId);
    }
    else{
        cargarListaIndividuos(@Model.Id_Bosque);
    }
    if (@ViewBag.BosqueModuloId > 0 && '@ViewBag.BosqueModulo' == "Productos") {
        DetalleProductoServicio(@ViewBag.BosqueModuloId);
    }
    else{
        cargarListaProductoServicio(@Model.Id_Bosque);
    }
    if (@ViewBag.BosqueModuloId > 0 && '@ViewBag.BosqueModulo' == "Historias") {
        DetalleHistoriaBosque(@ViewBag.BosqueModuloId);
    }
    else{
        cargarListaHistoria(@Model.Id_Bosque);
    }

    CrearFichaBosque(@Model.Id_Bosque);
    CrearDatoContactoBosque(@Model.Id_Bosque);
    function LoadRouteModulo(moduloBosque) {
        if (moduloBosque){
            openBosques(null, moduloBosque);
        }
    }

    LoadRouteModulo('@ViewBag.BosqueModulo');
</script>

