﻿@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios;
<br />
<br />
@{
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}
@if (infraestructura.PermisoUsuario(info, "Crear", "Bosques"))
{
    <input id="btnCrearBosque" type="button" onclick="CrearBosque();" value="Nuevo" class="btn btn-new" />
}
<br />
<br />
<div class="table-responsive">
    <div id="IndexBosques"></div>
</div>
<script>
    $(function () {
        var DataBosques = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Departamento', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'Departamento', filtro: function () {
                        return anexGrid_input({
                            type: 'text'
                        });
                    }
                },
                {
                    leyenda: 'Municipio', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'Municipio', filtro: function () {
                        return anexGrid_input({
                            type: 'text'
                        });
                    }
                },
                {
                    leyenda: 'Nombre', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'NombreBosque', filtro: function () {
                        return anexGrid_select({
                            type: 'text'
                        });
                    }
                },
                {
                    leyenda: 'Ubicacion', style: 'width:20%;', class: 'text-center'
                },
                {
                    leyenda: 'Imagenes', style: 'width:20%;', class: 'text-center'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleBosque',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_Bosque
                         });
                     }
                 },
                 {
                     propiedad: 'Departamento', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Municipio', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'NombreBosque', style: 'text-align: justify;'
                 },
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-UbicacionBosque',
                             contenido: '<span class="glyphicon glyphicon-map-marker" />',
                             value: obj.Id_Bosque
                         });
                     }
                 },
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-ImagenesBosque',
                             contenido: '<span class="glyphicon glyphicon-picture" />',
                             value: obj.Id_Bosque
                         });
                     }
                 }
            ],
            url: '@Url.Action("CargarGrilla", "Bosque")',
            limite: [5, 10, 20],
            columna: 'Id_Bosque',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridBosques = $("#IndexBosques").anexGrid(DataBosques);

        GridBosques.tabla().on('click', '.btn-DetalleBosque', function () {
            DetalleBosque(this.value);
        });
        GridBosques.tabla().on('click', '.btn-UbicacionBosque', function () {
            LoadMapa(this.value);
        });
        GridBosques.tabla().on('click', '.btn-ImagenesBosque', function () {
            LoadPhotos(this.value);
        });
    });
</script>