﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <title>EcoTech - Bosque</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>
    <link rel="stylesheet" type="text/css" href="~/styles/product_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/product_responsive.css">        
</head>
    <!-- Single Product -->
    <br />
    <div class="single_product">
        <div class="container">
            <div class="row">
                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected">
                        <script>LoadPhoto(@ViewBag.Id_Bosque);</script>
                        <div class='@ViewBag.Id_Bosque'></div>
                    </div>
                </div>
                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description">
                        <div class="product_name">@ViewBag.NombreBosque</div>
                        <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
                        <div class="product_text">
                            <b>Departamento: </b> @ViewBag.Departamento <br>
                            <b>Municipio: </b> @ViewBag.Municipio <br>
                            <b>Comunidad: </b> @ViewBag.Comunidad
                        </div>
                        <br>
                        <hr>
                        <h4>Ficha: </h4>
                        <div class="product_text">
                            <b>Area (Hectareas): </b> @ViewBag.NumeroArea<br>
                            <b>Número de habitantes: </b> @ViewBag.NumeroHabitantes<br><br>
                            <h5>Caracteristicas</h5>
                            @if (@ViewBag.Demograficas != null)
                            {
                            <b>Territorio: </b> @ViewBag.Territorio <br>
                            }           
                            <b>Sociales: </b> @ViewBag.Sociales <br>
                            @if (@ViewBag.Demograficas != null)
                            {
                                <b>Demográficas: </b> @ViewBag.Demograficas <br>
                            }

                            <b>Medio ambientales: </b> @ViewBag.MedioAmbientales <br><br>
                            <h5>Descripcion Ubicacion</h5>
                            @ViewBag.DescripcionUbicacion

                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!-- Recently Viewed -->
    @if (ViewBag.ActividadesServiceSize > 0)
    {
        <div class="viewed">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="viewed_title_container">
                            <h3 class="viewed_title">Logros</h3>
                            <div class="viewed_nav_container">
                                <div class="viewed_nav viewed_prev"><i class="fas fa-chevron-left"></i></div>
                                <div class="viewed_nav viewed_next"><i class="fas fa-chevron-right"></i></div>
                            </div>
                        </div>


                        <div class="viewed_slider_container">
                            <div class="owl-carousel owl-theme viewed_slider">
                                <!-- Recently Viewed Slider -->
                                <!-- Recently Viewed Item -->
                                @{ int countActividadesService = 0;

                                    if (ViewBag.ActividadesServiceSize > 0)
                                    {
                                        foreach (var item in ViewBag.ActividadesService)
                                        {

                                            <div class="owl-item">
                                                <div class="trends_item is_new">
                                                    <div class="viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                                        <div class="viewed_content text-center">
                                                            <div class="viewed_price">@item.TipoActividad</div>
                                                            <div class="viewed_name"><a href="#">@item.NombreActividad</a></div>
                                                            <div class="viewed_name" style="font-size:x-small">@item.PorcentajeAvance %</div>
                                                            <div class="viewed_name" style="font-size:xx-small">@item.FechaInicioStr - @item.FechaFinStr</div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }
                                    else
                                    {
                                        <p>No hay Actividades</p>
                                    }
                                }

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    }
    

    @if (ViewBag.IndividuosEspeciesBosqueSize > 0)
    {
        <div class="reviews" id="individuosEspecies">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="reviews_title_container">
                            <h3 class="reviews_title">Individuos y especies</h3>
                        </div>

                        <div class="reviews_slider_container">

                            <!-- Reviews Slider -->
                            <div class="owl-carousel owl-theme reviews_slider">
                                @{ int countIndividuosEspeciesBosque = 0;

                                    if (ViewBag.IndividuosEspeciesBosqueSize > 0)
                                    {
                                        foreach (var item in ViewBag.IndividuosEspeciesBosque)
                                        {

                                            <!-- Reviews Slider Item -->
                                            <div class="owl-item">
                                                <div class="review d-flex flex-row align-items-start justify-content-start">

                                                    <div>
                                                        <div class="review_image">
                                                            <script>LoadPhotoIndividuosEspeciesCard(@item.Id_IndividuoEspecie);</script>
                                                            <div class='ie_@(item.Id_IndividuoEspecie)'></div>
                                                        </div>
                                                    </div>
                                                    <div class="review_content">
                                                        <div class="review_time">@item.TipoInidividuoEspecie</div>
                                                        <div class="review_name">@item.Nombre</div>
                                                        <div class="review_rating_container">
                                                            <div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                                        </div>
                                                        <div class="review_text"><p>@item.Descripcion.</p></div>
                                                    </div>
                                                </div>
                                            </div>

                                        }
                                    }
                                    else
                                    {
                                        <p>No hay Individuos ni Especies</p>
                                    }
                                }
                            </div>
                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
  

    @if (ViewBag.HistoriasBosqueSize > 0)
    {
        <div class="reviews" id="historias">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="reviews_title_container">
                            <h3 class="reviews_title">Historias</h3>                        
                        </div>

                        <div class="reviews_slider_container">

                            <!-- Reviews Slider -->
                            <div class="owl-carousel owl-theme reviews_slider">

                                @{ int countHistoriaService = 0;

                                    if (ViewBag.HistoriasBosqueSize > 0)
                                    {
                                        foreach (var item in ViewBag.HistoriasBosque)
                                        {

                                            <!-- Reviews Slider Item -->
                                            <div class="owl-item">
                                                <div class="review d-flex flex-row align-items-start justify-content-start">
                                                    <div>
                                                        <div class="review_image">
                                                            <script>LoadAudio(@item.Id_HistoriaBosque);</script>
                                                            <div class='h_@(item.Id_HistoriaBosque)'></div>
                                                        </div>
                                                    </div>
                                                    <div class="review_content">
                                                        <div class="review_time"></div>
                                                        <div class="review_name">@item.Nombre</div>
                                                        <div class="review_rating_container">
                                                            <div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                                        </div>
                                                        <div class="review_text"><p>@item.Descripcion</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>No hay Historias</p>
                                    }
                                }
                            </div>
                          
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }


    @if (ViewBag.ProductosServiciosBosqueSize > 0)
    {
        <br><br>
        <div class="reviews" id="productosServicios">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="reviews_title_container">
                            <h3 class="reviews_title">Productos y servicios</h3>
                 
                        </div>

                        <div class="reviews_slider_container">

                            <!-- Reviews Slider -->
                            <div class="owl-carousel owl-theme reviews_slider">
                                @{ int countProductoServicioService = 0;

                                    if (ViewBag.ProductosServiciosBosqueSize > 0)
                                    {
                                        foreach (var item in ViewBag.ProductosServiciosBosque)
                                        {
                                            <!-- Reviews Slider Item -->
                                            <div class="owl-item">
                                                <div class="review d-flex flex-row align-items-start justify-content-start">
                                                    <div>
                                                        <div class="review_image">
                                                            <script>LoadPhotoProductoServicio(@item.Id_ProductoServicio);</script>
                                                            <div class='ps_@(item.Id_ProductoServicio)'></div>
                                                        </div>
                                                    </div>
                                                    <div class="review_content">
                                                        <div class="review_time">$ @item.Precio COP</div>
                                                        <div class="review_name">@item.Nombre</div>
                                                        <div class="review_rating_container">
                                                            <div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                                        </div>
                                                        <div class="review_text"><p>@item.TipoProductoServicio</p></div>
                                                    </div>
                                                </div>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <p>No hay Productos ni Servicios</p>
                                    }
                                }
                            </div>
                    
                        </div>
                    </div>
                </div>
            </div>
        </div>
                                    }

        <!-- Mapa -->
        <script src="https://unpkg.com/leaflet@1.0.1/dist/leaflet.js"></script>
        <link href="https://unpkg.com/leaflet@1.0.1/dist/leaflet.css" rel="stylesheet" />

        <div class="reviews">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <div class="reviews_title_container">
                            <h3 class="reviews_title">Mapa</h3>

                        </div>
                        <div id="osm-map"></div>

                    </div>

                </div>
            </div>
        </div>

        <script>
// Where you want to render the map.
        var element = document.getElementById('osm-map');

        // Height has to be set. You can do this in CSS too.
        element.style = 'height:300px;';

        // Create Leaflet map on map element.
        var map = L.map(element);

        // Add OSM tile leayer to the Leaflet map.
        L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Target's GPS coordinates.
        var target = L.latLng('@ViewBag.Latitud', '@ViewBag.Longitud');

        // Set map's center to target with zoom 14.
        map.setView(target, 11);

        // Place a marker on the same location.
        L.marker(target).addTo(map);</script>
    
<script src="~/js/product_custom.js"></script>  