﻿@model BosquesPaz.Models.PatrocinadoresBosques
@using (Ajax.BeginForm("Create", "Patrocinador", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "PatrocinadoresContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Observaciones)
        <div class="row">
            <div class="col-md-3">
                <label>Tipo:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_TipoPatrocinador, new SelectList(ViewBag.TiposPatrocinadores, "Id_TipoPatrocinador", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_TipoPatrocinador, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NombreRazon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreRazon, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Departamento:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Id_Departamento, new SelectList(ViewBag.Departamentos, "Id_Departamento", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single", @id = "Departamentos", @onchange = "onChangeDepartamentos($(this).val(),'MunicipiosBosques')" })
                @Html.ValidationMessageFor(model => model.Id_Departamento, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Municipio:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Id_Municipio, new SelectList(ViewBag.Municipios, "Id_Municipio", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single", @id = "MunicipiosBosques" })
                @Html.ValidationMessageFor(model => model.Id_Municipio, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Responsable:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Responsable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Responsable, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Teléfono:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Correo:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Sitio web:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.SitioWeb, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SitioWeb, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
