﻿@model BosquesPaz.Models.PatrocinadoresBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

<div class="form-group">
    <br />
    <br />
    <div id="DetalleAdmin" style="width:100%">
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Observaciones:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Observaciones, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Estado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.EstadosPatrocinadores.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de registro:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaCreacion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    @if (Model.FechaVerificacion != null)
    {
        <div class="row">
            <div class="col-md-3">
                <label>Fecha de verificación:</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.FechaVerificacion, new { @class = "form-control" })
            </div>
        </div>
    }
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                    <input id="btnEditarIndicadoresBosques" type="button" onclick="EditarPatrocinadorAdministrador(@Model.Id_PatrocinadorBosque)" value="Editar" class="btn btn-form" />
                    <input id="btnDetallePatrocinadorAdmin" type="button" onclick="cargarListaPatrocinador()" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>

<script>
    function CargarDetalleAdmin(id) {
        $.ajax({
            contentType: 'application/html; charset=utf-8',
            type: "GET",
            dataType: 'html',
            url: 'Patrocinador/Details/' + id,
            cache: false,
            success: function (result) {
                $('#DetalleAdmin').html(result);
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
    }
    CargarDetalleAdmin(@Model.Id_PatrocinadorBosque);
</script>

