﻿@model BosquesPaz.Models.PatrocinadoresBosques
<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TiposPatrocinadores.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NombreRazon, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Departamento:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Departamentos.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Municipio:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Municipios.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Responsable:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Responsable, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Teléfono:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Telefono, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Correo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Correo, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Sitio web:</label>
        </div>
        <div class="col-md-8">
            <a href="@Html.DisplayFor(model => model.SitioWeb, new { @class = "form-control" })" target="_blank"><span class="glyphicon glyphicon-link" />Enlace</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @if (Session["infoUsuario"] == null)
                {
                    <input id="btnEditarIndicadoresBosques" type="button" onclick="EditarPatrocinador(@Model.Id_PatrocinadorBosque)" value="Editar" class="btn btn-form" />
                    <input id="btnOportunidades" type="button" onclick="cargarListaOportunidades(@Model.Id_PatrocinadorBosque)" value="Ir a oportunidades" class="btn btn-form" />
                }
            </div>
        </div>
    </div>
</div>
