﻿@model BosquesPaz.Models.PatrocinadoresBosques
@using (Ajax.BeginForm("EditAdministrador", "Patrocinador", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "PatrocinadoresContainer" }))
{
    <div class="form-group">
        <div id="DetalleAdmin" style="width:100%">
        </div>
        @Html.HiddenFor(model => model.FechaCreacion)
        @Html.HiddenFor(model => model.Id_PatrocinadorBosque)
        @Html.HiddenFor(model => model.Id_Departamento)
        @Html.HiddenFor(model => model.Id_Municipio)
        @Html.HiddenFor(model => model.Id_TipoPatrocinador)
        @Html.HiddenFor(model => model.Correo)
        @Html.HiddenFor(model => model.Telefono)
        @Html.HiddenFor(model => model.SitioWeb)
        @Html.HiddenFor(model => model.Responsable)
        @Html.HiddenFor(model => model.NombreRazon)
        <div class="row">
            <div class="col-md-3">
                <label>Fecha de registro:</label>
            </div>
            <div class="col-md-8">
                @Html.DisplayFor(model => model.FechaCreacion, new { @class = "form-control" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Observaciones:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Observaciones, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Observaciones, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Estado:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_EstadoPatrocinador, new SelectList(ViewBag.EstadosPatrocinadores, "Id_EstadoPatrocinador", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_EstadoPatrocinador, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnDetallePatrocinadorAdmin" type="button" onclick="DetallePatrocinadorAdministrador(@Model.Id_PatrocinadorBosque)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });

    function CargarDetalleAdmin(id) {
        $.ajax({
            contentType: 'application/html; charset=utf-8',
            type: "GET",
            dataType: 'html',
            url: 'Patrocinador/Details/' + id,
            cache: false,
            success: function (result) {
                $('#DetalleAdmin').html(result);
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
    }
    CargarDetalleAdmin(@Model.Id_PatrocinadorBosque);
</script>
