﻿<br />
<br />
<div class="table-responsive">
    <div id="IndexPatrocinador"></div>
</div>
<br />

<script>
    ;
    $(function () {
        var DataPatrocinador = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Nombre', style: 'width:20%;', class: 'text-center', columna: 'NombreRazon'
                },
                {
                    leyenda: 'Departamento', style: 'width:20%;', class: 'text-center', columna: 'Departamento'
                },
                {
                    leyenda: 'Municipio', style: 'width:20%;', class: 'text-center', columna: 'Municipio'
                },
                {
                    leyenda: 'Responsable', style: 'width:20%;', class: 'text-center', columna: 'Responsable'
                },
                {
                    leyenda: 'Teléfono', style: 'width:20%;', class: 'text-center', columna: 'Telefono'
                },
                {
                    leyenda: 'Correo', style: 'width:20%;', class: 'text-center', columna: 'Correo'
                },
                {
                    leyenda: 'SitioWeb', style: 'width:20%;', class: 'text-center', columna: 'SitioWeb'
                },
                {
                    leyenda: 'Fecha de registro', style: 'width:20%;', class: 'text-center', columna: 'FechaDeCreacion'
                },
                {
                    leyenda: 'Estado Patrocinador', style: 'width:20%;', class: 'text-center', columna: 'EstadoPatrocinador'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetallePatrocinador',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_PatrocinadorBosque
                         });
                     }
                 },
                 {
                     propiedad: 'NombreRazon', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Departamento', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Municipio', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Responsable', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Telefono', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Correo', style: 'text-align: justify;'
                 },
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-Enlace',
                             contenido: '<span class="glyphicon glyphicon-link" />',
                             value: obj.SitioWeb
                         });
                     }
                 },
                 {
                     propiedad: 'FechaDeCreacion', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'EstadoPatrocinador', style: 'text-align: justify;'
                 },
            ],
            url: '@Url.Action("CargarGrilla", "Patrocinador")',
            limite: [5, 10, 20],
            columna: 'Id_PatrocinadorBosque',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridPatrocinador = $("#IndexPatrocinador").anexGrid(DataPatrocinador);

        GridPatrocinador.tabla().on('click', '.btn-DetallePatrocinador', function () {
            DetallePatrocinadorAdministrador(this.value);
        });

        GridPatrocinador.tabla().on('click', '.btn-Enlace', function () {
            VerEnlace(this.value)
        });
    });

    function VerEnlace(enlace){
        window.open(enlace);
    }
</script>
