﻿@model BosquesPaz.Models.PatrocinadoresBosques
   
@using (Ajax.BeginForm("VerificarCorreo", "Patrocinador", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "PatrocinadoresContainer" }))
{
    <br />
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label>Digite su correo</label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Correo:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Verificar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}



