﻿<head>
    <title>EcoTech</title>
    <link rel="stylesheet" type="text/css" href="~/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
</head>

<!-- Encabezado BOSQUES -->
<div class="trends">
    <div class="trends_background" style="background-image:url(/images/trends_background.jpg)"></div>
    <div class="trends_overlay"></div>
    <div class="container">
        <div class="row">
            <!-- Trends Content -->
            <div class="col-lg-3">
                <div class="trends_container">
                    <h2 class="trends_title">¿Que lugar quieres conocer?</h2>
                </div>
            </div>

            <!-- Trends Slider -->
            <div class="col-lg-9">
                <div class="trends_slider_container">

                    <!-- Trends Slider -->

                    <div class="owl-carousel owl-theme trends_slider">

                        <!-- Trends Slider Item -->
                        @{
                        int count = 0;
                        foreach (var item in ViewBag.allBosques)
                        {
                        <div class="owl-item">
                            <div class="trends_item is_new">
                                <div class="trends_image d-flex flex-column align-items-center justify-content-center">
                                    <script>
                                        LoadPhoto(@item.Id_Bosque);
                                    </script>
                                    <a href="/Bosque/Index?id=@item.Id_Bosque">
                                        <div class='@item.Id_Bosque' style="max-width: 100%; max-height: 280px; min-width: 95%;"></div>
                                    </a>
                                </div>
                                <div class="trends_content">
                                    <div class="trends_category"><a href="/Bosque/Index?id=@item.Id_Bosque">@item.Departamento</a></div>
                                    <div class="trends_info clearfix">
                                        <div class="trends_name"><a href="/Bosque/Index?id=@item.Id_Bosque">@item.NombreBosque</a></div>
                                        <div class="trends_price">@item.Municipio</div>
                                    </div>
                                </div>
                                <div class="trends_fav"><i class="fas fa-heart"></i></div>
                            </div>
                        </div>

                        count++;


                        }
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- Productos y servicios -->
<div class="deals_featured" id="productos">
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">
                <!-- Featured -->
                <div class="featured">
                    <div class="popular_categories_title">Productos y Servicios</div>
                    <div class="tabbed_container">
                        <!-- Product Panel -->
                        <div class="product_panel panel active">
                            <div class="featured_slider slider">
                                <!-- Slider Item -->
                                @{
                                int countProductos = 0;
                                foreach (var item in ViewBag.allProductos)
                                {
                                <div class="featured_slider_item">
                                    <div class="border_active"></div>
                                    <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="product_image d-flex flex-column align-items-center justify-content-center"
                                            style="max-width:60%; max-height:150px;margin:auto;">
                                            <script>
                                                LoadPhotoProductoServicio(@item.Id_ProductoServicio);
                                            </script>
                                            <a href="/ProductoServicioBosques/Index?id=@item.Id_ProductoServicio">
                                                <div class='ps_@(item.Id_ProductoServicio)' style="max-width:190px;"></div>
                                            </a>
                                        </div>
                                        <div class="product_content">
                                            <div class="product_price discount">$ @item.Precio COP<span></span></div>
                                            <div class="product_name">
                                                <div><a href="/ProductoServicioBosques/Index?id=@item.Id_ProductoServicio">@item.Nombre</a></div>
                                            </div>                                           
                                        </div>
                                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                                    </div>
                                </div>

                                countProductos++;


                                }
                                }
                            </div>
                            <div class="featured_slider_dots_cover"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Actividades y aventuras -->
<div class="deals_featured" id="servicios">
    <div class="deals_featured_background" style="background-image:url(/images/trends_background.jpg)"></div>
    <div class="deals_featured_overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col d-flex flex-lg-row flex-column align-items-center justify-content-start">
                <!-- Featured -->
                <div class="featured">
                    <div class="popular_categories_title">Actividades y Aventuras</div>
                    <div class="tabbed_container">
                        <!-- Product Panel -->
                        <div class="product_panel panel active">
                            <div class="featured_slider slider">
                                <!-- Slider Item -->
                                @{
                                int countServicios = 0;
                                foreach (var item in ViewBag.allServicios)
                                {

                                <div class="featured_slider_item">
                                    <div class="border_active"></div>
                                    <div class="product_item discount d-flex flex-column align-items-center justify-content-center text-center">
                                        <div class="product_image d-flex flex-column align-items-center justify-content-center"
                                            style="max-width:60%; max-height:150px;margin:auto;">
                                            <script>
                                                LoadPhotoProductoServicio(@item.Id_ProductoServicio);
                                            </script>
                                            <a href="/ProductoServicioBosques/Index?id=@item.Id_ProductoServicio">
                                                <div class='ps_@(item.Id_ProductoServicio)' style="max-width:190px;"></div>
                                            </a>
                                        </div>
                                        <div class="product_content">
                                            <div class="product_price discount">$ @item.Precio COP<span></span></div>
                                            <div class="product_name">
                                                <div><a href="/ProductoServicioBosques/Index?id=@item.Id_ProductoServicio">@item.Nombre</a></div>
                                            </div>                                            
                                        </div>
                                        <div class="product_fav"><i class="fas fa-heart"></i></div>
                                    </div>
                                </div>

                                countServicios++;


                                }
                                }
                            </div>
                            <div class="featured_slider_dots_cover"></div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="reviews" id="individuosEspecies" style="padding-bottom: 10px;">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="reviews_title_container">
                    <h3 class="reviews_title">Individuos y especies</h3>
                </div>

                <div class="reviews_slider_container">

                    <!-- Reviews Slider -->
                    <div class="owl-carousel owl-theme reviews_slider">
                        @{
                        int countIndividuos = 0;
                        foreach (var item in ViewBag.allIndividuosEspecies)
                        {

                        <!-- Reviews Slider Item -->
                        <div class="owl-item">
                            <div class="review d-flex flex-row align-items-start justify-content-start">

                                <div>
                                    <div class="review_image">
                                        <script>
                                            LoadPhotoIndividuosEspeciesCard(@item.Id_IndividuoEspecie);
                                        </script>
                                        <div class='ie_@(item.Id_IndividuoEspecie)'></div>
                                    </div>
                                </div>
                                <div class="review_content">
                                    <div class="review_time">@item.TipoInidividuoEspecie</div>
                                    <div class="review_name">@item.Nombre</div>
                                    <div class="review_rating_container">
                                        <div class="rating_r rating_r_4 review_rating"><i></i><i></i><i></i><i></i><i></i></div>
                                    </div>
                                    <div class="review_text">
                                        <p>@item.Descripcion.</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        countIndividuos++;


                        }
                        }
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Tematicas de historias -->
<div class="reviews" id="historias">
    <div class="container">
        <div class="row">
            <div class="col">

                <div class="reviews_title_container">
                    <h3 class="reviews_title">Temáticas de Historias</h3>
                    <div class="reviews_all ml-auto"><a href="/Historia/index">Ver historias</a></div>
                </div>

                <div class="reviews_slider_container">

                    <!-- Reviews Slider -->
                    <div class="owl-carousel owl-theme reviews_slider">

                        <!-- Reviews Slider Item -->

                        <div class="owl-item">
                            <div class="review d-flex flex-row align-items-start justify-content-start">
                                <div>
                                    <a href="/Historia/HistoriasTematica?IdTematica=1">
                                        <div class="review_image">
                                            <img src="~/Content/Imagenes/recuperacionEcosistemas.png">
                                        </div>
                                    </a>
                                </div>
                                <div class="review_content">
                                    <a href="/Historia/HistoriasTematica?IdTematica=1">
                                        <div class="review_name">Recuperación ecosistema</div>
                                    </a>
                                    <div class="review_rating_container">
                                    </div>
                                    <div class="review_text">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="owl-item">
                            <div class="review d-flex flex-row align-items-start justify-content-start">
                                <div>
                                    <a href="/Historia/HistoriasTematica?IdTematica=2">
                                        <div class="review_image">
                                            <img src="~/Content/Imagenes/Historiasdevida.jpg">
                                        </div>
                                    </a>
                                </div>
                                <div class="review_content">
                                    <a href="/Historia/HistoriasTematica?IdTematica=2">
                                        <div class="review_name">Historias de Vida</div>
                                    </a>
                                    <div class="review_rating_container">
                                    </div>
                                    <div class="review_text">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="owl-item">
                            <div class="review d-flex flex-row align-items-start justify-content-start">
                                <div>
                                    <a href="/Historia/HistoriasTematica?IdTematica=3">
                                        <div class="review_image">
                                            <img src="~/Content/Imagenes/turismoyaventura.jpg">
                                        </div>
                                </div>
                                <div class="review_content">
                                    <a href="/Historia/HistoriasTematica?IdTematica=3">
                                        <div class="review_name">Turismo y Aventura</div>
                                    </a>
                                    <div class="review_rating_container">
                                    </div>
                                    <div class="review_text">
                                        <p></p>
                                    </div>
                                </div>
                            </div>
                        </div>




                    </div>
                    <div class="reviews_dots"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/js/custom.js"></script>