﻿@{
    ViewBag.Title = "Bosques de paz";
    ///Define variables de sesion para almacenar el nombre del submodulo y el identificador de este.
    Session["BosqueModulo"] = ViewBag.moduloSub;
    Session["BosqueModuloId"] = ViewBag.moduloSubId;
    ///Define variable de sesion para capturar el nombre de la foto.
    Session["FotoUsuario"] = null;
    ///Define variable de sesion para capturar el nombre del modulo.
    Session["SubModulo"] = null;
    ///Define variable de sesion para capturar el nombre de la foto.
    Session["ImagenRompecabezas"] = null;
}
<br />
<br />
<div class="w3-container">
    <div class="w3-panel w3-border w3-round w3-border-gray">
        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Bosques');">
                <div id="BosquesTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding w3-border-red" style="width:9%;">Bosques</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Cobertura');">
                <div id="CoberturaTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:11.11%;">Cobertura</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Tablero');">
                <div id="TableroTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:9%;">Tablero</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Estadistica');">
                <div id="EstadisticaTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:11.11%;">Estadistica</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'HistoriasYAudios');">
                <div id="HistoriasYAudiosTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:14.22%;">Historias y audios</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'ProductoYServiciosBosques');">
                <div id="ProductoYServiciosBosquesTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:15.45%;">Productos y servicios</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Oportunidades');">
                <div id="OportunidadesTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:11.11%;">Oportunidades</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Juegos');">
                <div id="JuegosTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:9%;">Juegos</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Auditoria');">
                <div id="AuditoriaTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:10%;">Auditorias</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosquesPaz(event, 'Patrocinadores');">
                <div id="PatrocinadoresTab" class="w3-third tablink w3-bottombar w3-hover-light-grey w3-padding" style="width:10%;">Patrocinadores</div>
            </a>
        </div>

        <div id="Bosques" class="w3-container BosquesPaz">
            <div id="BosquesContainer" style="width:100%">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <h3>Cargando...</h3>
                        </div>
                        <div class="col-md-10">
                            <div style='width:200px; height:200px;'>
                                <div class='loader' id='loader'></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>

        <div id="Auditoria" class="w3-container BosquesPaz" style="display:none">
            <div id="AuditoriaContainer" style="width:100%">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <h3>Cargando...</h3>
                        </div>
                        <div class="col-md-10">
                            <div style='width:200px; height:200px;'>
                                <div class='loader' id='loader'></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>

        <div id="Cobertura" class="w3-container BosquesPaz" style="display:none">

            <div id="CoberturaContainer" style="width:100%">
                <div id="mapaAll" style="width:100%;height:600px">
                    <div class="row" id="CargandoMapa">
                        <div class="col-md-5"></div>
                        <div class="col-md-2">
                            <div class="col-md-2">
                                <h3>Cargando...</h3>
                            </div>
                            <div class="col-md-10">
                                <div style='width:200px; height:200px;'>
                                    <div class='loader' id='loader'></div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
            </div>
        </div>

        <div id="Tablero" class="w3-container BosquesPaz" style="display:none">
            <div id="TableroContainer" style="width:100%">
                <div class="row">
                    <div class="col-md-5"></div>
                    <div class="col-md-2">
                        <div class="col-md-2">
                            <h3>Cargando...</h3>
                        </div>
                        <div class="col-md-10">
                            <div style='width:200px; height:200px;'>
                                <div class='loader' id='loader'></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5"></div>
                </div>
            </div>
        </div>

        <div id="Estadistica" class="w3-container BosquesPaz" style="display:none">
            <div id="EstadisticaContainer" style="width:100%">
                <div class="row">

                    <div class="w3-container">
                        <div class="w3-panel w3-border w3-round w3-border-gray">
                            <div class="w3-row">
                                <a href="javascript:void(0)" onclick="openEstadistica(event, 'SP1');">
                                    <div class="w3-third tablink estadisticatablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue"  style="width:16%;">Cobertura</div>
                                </a>
                                <a href="javascript:void(0)" onclick="openEstadistica(event, 'SP3');">
                                    <div class="w3-third tablink estadisticatablink w3-bottombar w3-hover-light-grey w3-padding"  style="width:16%;">Recursos</div>
                                </a>
                                <a href="javascript:void(0)" onclick="openEstadistica(event, 'SP2');">
                                    <div class="w3-third tablink estadisticatablink w3-bottombar w3-hover-light-grey w3-padding"  style="width:16%;">Actividades</div>
                                </a>
                                <a href="javascript:void(0)" onclick="openEstadistica(event, 'SP6');">
                                    <div class="w3-third tablink estadisticatablink w3-bottombar w3-hover-light-grey w3-padding"  style="width:18%;"> Individuos/Especies</div>
                                </a>
                                <a href="javascript:void(0)" onclick="openEstadistica(event, 'SP5');">
                                    <div class="w3-third tablink estadisticatablink w3-bottombar w3-hover-light-grey w3-padding"  style="width:16%;">Indicadores</div>
                                </a>
                                <a href="javascript:void(0)" onclick="openEstadistica(event, 'SP4');">
                                    <div class="w3-third tablink estadisticatablink w3-bottombar w3-hover-light-grey w3-padding"  style="width:18%;">Productos/Servicios</div>
                                </a>
                            </div>
                            <br />
                            <div id="EstadisticasContainer" class="w3-container bosque">
                                <div id="EstadisticasGrid" style="width:100%"> </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="HistoriasYAudios" class="w3-container BosquesPaz" style="display:none">
            <div id="HistoriaAudioContainer" style="width:100%">
            </div>
        </div>
        <div id="ProductoYServiciosBosques" class="w3-container BosquesPaz" style="display:none">
            <div id="ProductosServiciosBosquesContainer" style="width:100%">
            </div>
        </div>
        <div id="Oportunidades" class="w3-container BosquesPaz" style="display:none">
            <div id="OportunidadesContainer" style="width:100%">
            </div>
        </div>
        <div id="Juegos" class="w3-container BosquesPaz" style="display:none">
            <div id="JuegosContainer" style="width:100%">

            </div>
        </div>
        <div id="HistoriasYAudios" class="w3-container BosquesPaz" style="display:none">
            <div id="HistoriaAudioContainer" style="width:100%">
            </div>
        </div>
        <div id="ProductoYServiciosBosques" class="w3-container BosquesPaz" style="display:none">
            <div id="ProductosServiciosBosquesContainer" style="width:100%">
            </div>
        </div>
        <div id="Patrocinadores" class="w3-container BosquesPaz" style="display:none">
            <div id="PatrocinadoresContainer" style="width:100%">
            </div>
        </div>
    </div>
</div>

<div id="FotosModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fotos</h4>
            </div>
            <div class="modal-body">
                <div id="FotosCanvas" class="row">
                </div>
                <div id="FotosCarga" class="row">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<div id="AudiosModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" onclick="CerrarAudio()" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Audio</h4>
            </div>
            <div class="modal-body">
                <div id="AudiosCanvas" class="row">
                </div>
                <div id="AudiosCarga" class="row">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="CerrarAudio()" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<div id="MapasModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Fotos</h4>
            </div>
            <div class="modal-body">
                <div id="MapaCanvas" style="width:100%;height:400px">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<script>
    ///Bosques

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de bosques
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearBosque() {
        var _url = '@Url.Action("Create", "Bosque")';
        CargarFormulario(_url, 'BosquesContainer');
    }



    function cargarListaIndicadoresHistorial() {
        var _url = '@Url.Action("IndexPrincipal", "IndicadorAuditoria")';
        CargarFormulario(_url, 'AuditoriaContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de bosques
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleBosque(idBosque) {
        var _url = '@Url.Action("Details", "Bosque")' + '/' + idBosque;
        CargarFormulario(_url, 'BosquesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de bosques
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaBosques() {
        var _url = '@Url.Action("Index", "Bosque")';
        CargarFormulario(_url, 'BosquesContainer');
    }

    ///Recursos

    /// <summary>
    /// Funcion que define la direccion url de la accion index de recursos
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdministradorRecursos(idBosque) {
        var _url = '@Url.Action("Index", "Recurso")' + '/Index/' + idBosque;
        CargarFormulario(_url, 'AdministradorRecursosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de auditorias recursos
    /// </summary>
    /// <param name="idBosqueRecurso">Identificador del recurso</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdministradorRecursosHistorial(idBosqueRecurso) {
        var _url = '@Url.Action("Index", "RecursoAuditoria")' + '/Index/' + idBosqueRecurso;
        CargarFormulario(_url, 'HistorialRecursosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de recursos
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearRecurso(idBosque) {
        var _url = '@Url.Action("Create", "Recurso")' + '/' + idBosque;;
        CargarFormulario(_url, 'AdministradorRecursosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalles de recursos
    /// </summary>
    /// <param name="idBosqueRecurso">Identificador del recurso</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleRecursoBosque(idBosqueRecurso) {
        var _url = '@Url.Action("Details", "Recurso")' + '/' + idBosqueRecurso;
        CargarFormulario(_url, 'AdministradorRecursosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de recursos
    /// </summary>
    /// <param name="idBosqueRecurso">Identificador del recurso</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarRecursoBosque(idBosqueRecurso) {
        var _url = '@Url.Action("Edit", "Recurso")' + '/' + idBosqueRecurso;
        CargarFormulario(_url, 'AdministradorRecursosContainer');
    }

    ///Actividades

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de actividades
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearActividad(idBosque) {
        var _url = '@Url.Action("Create", "Actividad")' + '/' + idBosque;
        CargarFormulario(_url, 'AdministradorActividadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de auditorias actividades
    /// </summary>
    /// <param name="idActividadBosque">Identificador de la actividad</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdministradorActividadesHistorial(idActividadBosque) {
        var _url = '@Url.Action("Index", "ActividadAuditoria")' + '/Index/' + idActividadBosque;
        CargarFormulario(_url, 'HistorialActividadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de actividades
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdministradorActividades(idBosque) {
        var _url = '@Url.Action("Index", "Actividad")' + '/Index/' + idBosque;
        CargarFormulario(_url, 'AdministradorActividadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalles de actividades
    /// </summary>
    /// <param name="idActividadBosque">Identificador de la actividad</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleActividadBosque(idActividadBosque) {
        var _url = '@Url.Action("Details", "Actividad")' + '/' + idActividadBosque;
        CargarFormulario(_url, 'AdministradorActividadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de actividades
    /// </summary>
    /// <param name="idActividadBosque">Identificador de la actividad</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarActividadBosque(idActividadBosque) {
        var _url = '@Url.Action("Edit", "Actividad")' + '/' + idActividadBosque;
        CargarFormulario(_url, 'AdministradorActividadesContainer');
    }


    ///Indicadores

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de indicadores
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearIndicador(idBosque) {
        var _url = '@Url.Action("Create", "Indicador")' + '/' + idBosque;
        CargarFormulario(_url, 'IndicadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de indicadores
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaIndicadores(idBosque) {
        var _url = '@Url.Action("Index", "Indicador")' + '/Index/' + idBosque;
        CargarFormulario(_url, 'IndicadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de auditorias indicadores
    /// </summary>
    /// <param name="idIndicadorBosque">Identificador del indicador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdministradorIndicadoresHistorial(idIndicadorBosque) {
        var _url = '@Url.Action("Index", "IndicadorAuditoria")' + '/Index/' + idIndicadorBosque;
        CargarFormulario(_url, 'HistorialIndicadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalles de indicadores
    /// </summary>
    /// <param name="idIndicadorBosque">Identificador del indicador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleIndicador(idIndicadorBosque) {
        var _url = '@Url.Action("Details", "Indicador")' + '/' + idIndicadorBosque;
        CargarFormulario(_url, 'IndicadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de indicadores
    /// </summary>
    /// <param name="idIndicadorBosque">Identificador del indicador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarIndicadorBosque(idIndicadorBosque) {
        var _url = '@Url.Action("Edit", "Indicador")' + '/' + idIndicadorBosque;
        CargarFormulario(_url, 'IndicadoresContainer');
    }

    ///Individuos Especies

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de individuos/especies
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearIndividuoEspecie(idBosque) {
        var _url = '@Url.Action("Create", "Individuo")' + '/' + idBosque;
        CargarFormulario(_url, 'IndividuosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de individuos/especies
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaIndividuos(idBosque) {
        var _url = '@Url.Action("Index", "Individuo")' + '/Index/' + idBosque;
        CargarFormulario(_url, 'IndividuosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de auditorias individuos/especies
    /// </summary>
    /// <param name="idIndividuoEspecie">Identificador del individuo/especie</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdministradorIndividuosHistorial(idIndividuoEspecie) {
        var _url = '@Url.Action("Index", "IndividuoAuditoria")' + '/Index/' + idIndividuoEspecie;
        CargarFormulario(_url, 'HistorialIndividuosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalles de individuos/especies
    /// </summary>
    /// <param name="idIndividuoEspecie">Identificador del individuo/especie</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleIndividuoEspecie(idIndividuoEspecie) {
        var _url = '@Url.Action("Details", "Individuo")' + '/' + idIndividuoEspecie;
        CargarFormulario(_url, 'IndividuosContainer');
    }
    /// <summary>
    /// Funcion que define la direccion url de la accion editar de individuos/especies
    /// </summary>
    /// <param name="idIndividuoEspecie">Identificador del individuo/especie</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarIndividuoEspecie(idIndividuoEspecie) {
        var _url = '@Url.Action("Edit", "Individuo")' + '/' + idIndividuoEspecie;
        CargarFormulario(_url, 'IndividuosContainer');
    }


    ///Juegos

    /// <summary>
    /// Funcion que define la direccion url de la accion VerificarUsuario de juegos
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function VerificarDatosUsuario() {
        var _url = '@Url.Action("VerificarUsuario", "Juego")';
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de juegos
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a un Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearDatosUsuario() {
        var _url = '@Url.Action("Create", "Juego")';
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de juegos
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CargarIndexJuegos() {
        var _url = '@Url.Action("Index", "Juego")';
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion SopaLetras de juegos
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CargarSopaLetras() {
        var _url = '@Url.Action("SopaLetras", "Juego")';
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion RompeCabezas de juegos
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CargarRompeCabezas() {
        var _url = '@Url.Action("RompeCabezas", "Juego")';
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion RompeCabezasProducto de juegos
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CargarRompeCabezasProducto() {
        var _url = '@Url.Action("RompeCabezasProducto", "Juego")';
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion RompeCabezasBosque de juegos
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CargarRompeCabezasBosque() {
        var _url = '@Url.Action("RompeCabezasBosque", "Juego")';
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion CargarImagenAvatar de juegos
    /// </summary>
    /// <param name="posicion">Posicion de la imagen en una coleccion</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CargarImagenAvatar(posicion) {
        $('#FotosModal').modal('toggle');
        var _url = '@Url.Action("CargarImagenAvatar", "Juego")' + '/' + posicion;
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion GuardarJuego de juegos
    /// </summary>
    /// <param name="juego">Nombre del juego</param>
    /// <param name="puntaje">Numero de puntaje</param>
    /// <param name="modulo">Nombre del modulo</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function GuardarJuego(juego, puntaje, modulo) {
        var _url = '@Url.Action("GuardarJuego", "Juego")' + '/GuardarJuego/' + '?juego=' + juego +'&puntaje=' + puntaje + '&modulo=' + modulo;
        CargarFormulario(_url, 'JuegosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion GuardarJuegoRompecabezas de juegos
    /// </summary>
    /// <param name="juego">Nombre del juego</param>
    /// <param name="puntaje">Numero de puntaje</param>
    /// <param name="modulo">Nombre del modulo</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function GuardarJuegoRompecabezas(juego, puntaje, modulo) {
        var _url = '@Url.Action("GuardarJuegoRompecabezas", "Juego")' + '/GuardarJuego/' + '?juego=' + juego +'&puntaje=' + puntaje + '&modulo=' + modulo;
        CargarFormulario(_url, 'JuegosContainer');
    }


    ///productos/servicios

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de productos/servicios
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearProductoServicio(idBosque) {
        var _url = '@Url.Action("Create", "ProductoServicio")' + '/' + idBosque;
        CargarFormulario(_url, 'ProductosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de productos/servicios
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaProductoServicio(idBosque) {
        var _url = '@Url.Action("Index", "ProductoServicio")' + '/Index/' + idBosque;
        CargarFormulario(_url, 'ProductosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de productos/servicios
    /// </summary>
    /// <param name="idProductoServicio">Identificador de productos/servicos</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleProductoServicio(idProductoServicio) {
        var _url = '@Url.Action("Details", "ProductoServicio")' + '/' + idProductoServicio;
        CargarFormulario(_url, 'ProductosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de productos/servicios
    /// </summary>
    /// <param name="idProductoServicio">Identificador de productos/servicos</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarProductoServicio(idProductoServicio) {
        var _url = '@Url.Action("Edit", "ProductoServicio")' + '/' + idProductoServicio;
        CargarFormulario(_url, 'ProductosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de productos/servicios global
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaProductosServiciosBosques() {
        var _url = '@Url.Action("Index", "ProductoServicioBosques")';
        CargarFormulario(_url, 'ProductosServiciosBosquesContainer');
    }

    ///Fichas

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de ficha
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearFichaBosque(idBosque) {
        var _url = '@Url.Action("Create", "Ficha")' + '/' + idBosque;
        CargarFormulario(_url, 'FichasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de ficha
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarFicha(idBosque) {
        var _url = '@Url.Action("Edit", "Ficha")' + '/' + idBosque;
        CargarFormulario(_url, 'FichasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de ficha
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarDetalleFicha(idBosque) {
        var _url = '@Url.Action("Details", "Ficha")' + '/' + idBosque;
        CargarFormulario(_url, 'FichasContainer');
    }


    ///Datos Contactos

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de datos contactos
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearDatoContactoBosque(idBosque) {
        var _url = '@Url.Action("Create", "DatoContacto")' + '/' + idBosque;
        CargarFormulario(_url, 'DatosContactosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar datos contactos
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarDatoContacto(idBosque) {
        var _url = '@Url.Action("Edit", "DatoContacto")' + '/' + idBosque;
        CargarFormulario(_url, 'DatosContactosContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle datos contactos
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarDetalleContacto(idBosque) {
        var _url = '@Url.Action("Details", "DatoContacto")' + '/' + idBosque;
        CargarFormulario(_url, 'DatosContactosContainer');
    }

    ///Historias

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de historias
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearHistoria(idBosque) {
        var _url = '@Url.Action("Create", "Historia")' + '/' + idBosque;;
        CargarFormulario(_url, 'HistoriasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de historias
    /// </summary>
    /// <param name="idBosqueHistoria">Identificador de la historia</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleHistoriaBosque(idBosqueHistoria) {
        var _url = '@Url.Action("Details", "Historia")' + '/' + idBosqueHistoria;
        CargarFormulario(_url, 'HistoriasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de historias
    /// </summary>
    /// <param name="idBosqueHistoria">Identificador de la historia</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarHistoriaBosque(idBosqueHistoria) {
        var _url = '@Url.Action("Edit", "Historia")' + '/' + idBosqueHistoria;
        CargarFormulario(_url, 'HistoriasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de historias
    /// </summary>
    /// <param name="idBosque">Identificador del bosque</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaHistoria(idBosque) {
        var _url = '@Url.Action("Index", "Historia")' + '/Index/' + idBosque;
        CargarFormulario(_url, 'HistoriasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de historias global
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaHistoriaYAudio() {
        var _url = '@Url.Action("Index", "HistoriaAudio")';
        CargarFormulario(_url, 'HistoriaAudioContainer');
    }

    ///Patrocinadores

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de patrocinadores
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a un Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearPatrocinador() {
        var _url = '@Url.Action("Create", "Patrocinador")';
        LoadRoute('Patrocinadores');
        CargarFormulario(_url, 'PatrocinadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de patrocinadores
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetallePatrocinador(idPatrocinador) {
        var _url = '@Url.Action("Details", "Patrocinador")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'PatrocinadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de patrocinadores
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetallePatrocinadorAdministrador(idPatrocinador) {
        var _url = '@Url.Action("DetailsAdministrador", "Patrocinador")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'PatrocinadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de patrocinadores
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarPatrocinador(idPatrocinador) {
        var _url = '@Url.Action("Edit", "Patrocinador")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'PatrocinadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de patrocinadores
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarPatrocinadorAdministrador(idPatrocinador) {
        var _url = '@Url.Action("EditAdministrador", "Patrocinador")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'PatrocinadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de patrocinadores
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaPatrocinador() {
        var _url = '@Url.Action("Index", "Patrocinador")';
        CargarFormulario(_url, 'PatrocinadoresContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion verificar correo de patrocinadores
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 28/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarVerificarCorreo() {
        var _url = '@Url.Action("VerificarCorreo", "Patrocinador")';
        CargarFormulario(_url, 'PatrocinadoresContainer');
    }

    ///Oportunidades

    /// <summary>
    /// Funcion que define la direccion url de la accion VerificarCorreo de oportunidades
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function VerificarCorreo() {
        var _url = '@Url.Action("VerificarCorreo", "Oportunidad")';
        CargarFormulario(_url, 'OportunidadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion crear de oportunidad
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearOportunidad(idPatrocinador) {
        var _url = '@Url.Action("CreateOportunidad", "Oportunidad")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'InversionesDonacionesContainer');
    }


    /// <summary>
    /// Funcion que define la direccion url de la accion crear de oportunidad de Compras alianzas
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 29/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function CrearOportunidadComprasAlianzas(idPatrocinador) {
        var _url = '@Url.Action("CreateOportunidadComprasAlianzas", "Oportunidad")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'ComprasAlianzasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de oportunidades
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaOportunidades(idPatrocinador) {
        var _url = '@Url.Action("Index", "Oportunidad")' + '/Index/' + idPatrocinador;
        LoadRoute('Oportunidades');
        CargarFormulario(_url, 'OportunidadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de oportunidades Inversiones donaciones
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 29/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaInversionesDonaciones(idPatrocinador) {
        var _url = '@Url.Action("IndexInversionesDonaciones", "Oportunidad")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'InversionesDonacionesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de oportunidades compras y alianzas
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 29/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaComprasAlianzas(idPatrocinador) {
        var _url = '@Url.Action("IndexComprasAlianzas", "Oportunidad")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'ComprasAlianzasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de oportunidades Inversiones donaciones para el administrador
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 29/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdminInversionesDonaciones() {
        var _url = '@Url.Action("IndexAdminInversionesDonaciones", "Oportunidad")';
        CargarFormulario(_url, 'InversionesDonacionesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion index de oportunidades compras y alianzas para el administrador
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 29/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function cargarListaAdminComprasAlianzas() {
        var _url = '@Url.Action("IndexAdminComprasAlianzas", "Oportunidad")';
        CargarFormulario(_url, 'ComprasAlianzasContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de oportunidad
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetalleOportunidad(idPatrocinador) {
        var _url = '@Url.Action("DetailsOportunidad", "Oportunidad")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'OportunidadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion detalle de oportunidad global
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function DetallePatrocinadorGlobal(idPatrocinador) {
        var _url = '@Url.Action("Details", "Oportunidad")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'OportunidadesContainer');
    }

    /// <summary>
    /// Funcion que define la direccion url de la accion editar de oportunidad
    /// </summary>
    /// <param name="idPatrocinador">Identificador del patrocinador</param>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Define la direccion url de una accion y una Funcion y envia la definicion por parametros a una Funcion de carga para realizar la carga de la vista.
    /// </remarks>
    function EditarPatrocinadorOportunidad(idPatrocinador) {
        var _url = '@Url.Action("Edit", "Oportunidad")' + '/' + idPatrocinador;
        CargarFormulario(_url, 'OportunidadesContainer');
    }


    function onChangeDepartamentos(idDepartamento, container) {
        items = "";
        if (idDepartamento > 0) {
            var _url = '@Url.Action("ObtenerMunicipios", "Combos")' + '?id=' + idDepartamento;
            $.ajax({
                url: _url,
                dataType: "json",
                type: "GET",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data, function (j, item) {
                        items += "<option value=\"" + item.Value + "\">" + item.Text + "</option>";
                    });
                    $('#' + container).html(items);
                    $('#' + container).val("").trigger("liszt:updated");
                    $('#' + container).trigger("chosen:updated");
                },
                fail: function (response) {
                    if (response.status != 0) {
                        alert(response.status + ' - ' + response.statusText);
                    }
                }
            });
        }
        else {
            items += "<option value=\"\">SELECCIONE...</option>";
            $('#' + container).html(items);
            $('#' + container).trigger("chosen:updated");
        }
    }


    function cargarMapaBosques() {
        var _url = '@Url.Action("Bosques", "Mapas")';
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: _url,
            cache: false,
            success: function (result) {
                var map = L.map('mapaAll').setView([4.635556, -74.082778], 6);
                L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

                $.each(result, function (index, bosque) {
                    var marker = null;
                    marker = L.marker([Number(bosque.Latitud), Number(bosque.Longitud)]).addTo(map).bindPopup('<h3>' + bosque.NombreBosque + '</h3><br/>' +
                        ' <input type="button" onclick=" CargarDetalleBosqueMapa(' + bosque.Id_Bosque + ')" value="Ver detalle" class="btn btn-form" />');
                });

                LoadMapaAll(map);

            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
    }

    /// <summary>
    /// Funcion que realiza el cierre de sesion
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Ejecuta una accion de Account, para realizar el cierre de la sesion que se encuentre activa en el aplicativo.
    /// </remarks>
    function logOut() {
        var _url = '@Url.Action("LogOut", "Account")';
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: _url,
            cache: false,
            success: function (result) {
                if (result)
                    location.reload();
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
    }

    /// <summary>
    /// Carga de grilla estadistica
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Realiza la carga de la grilla cobertura.
    /// </remarks>
    function cargarSP1() {
        $('#EstadisticasContainer').html("<div id='EstadisticasGrid' style='width:100%'> </div>");
        var Data = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Departamento', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'id_departamento'

                },
                {
                    leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'Nombre'

                },
                {
                    leyenda: 'Cantidad', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'Cantidad'
                },
            ],
            modelo: [
            {
                propiedad: 'id_departamento', style: 'text-align: justify;'
            },
            {
                propiedad: 'Nombre', style: 'text-align: justify;'
            },
            {
                propiedad: 'Cantidad', style: 'text-align: justify;'
            },
            ],
            url: '@Url.Action("DepartamentoCantidadBosque", "Estadisticas")',
            limite: [5, 10, 20],
            columna: 'id_departamento',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridBosques = $("#EstadisticasGrid").anexGrid(Data);

    }

    /// <summary>
    /// Carga de grilla estadistica
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Realiza la carga de la grilla actividades.
    /// </remarks>
    function cargarSP2() {
        $('#EstadisticasContainer').html("<div id='EstadisticasGrid' style='width:100%'> </div>");
        var Data = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [{
                leyenda: 'Departamento',
                style: 'width:150px;',
                class: 'text-center',
                ordenable: true,
                columna: 'id_departamento'

            },
              {
                  leyenda: 'Nombre',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Nombre'

              },
              {
                  leyenda: 'Tipo',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Tipo'
              },
              {
                  leyenda: 'Estado',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Estado'
              },
              {
                  leyenda: 'Cantidad',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Cantidad'
              },
            ],
            modelo: [{
                propiedad: 'id_departamento',
                style: 'text-align: justify;'
            },
              {
                  propiedad: 'Nombre',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Tipo',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Estado',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Cantidad',
                  style: 'text-align: justify;'
              },
            ],
            url: '@Url.Action("DepartamentoTipoEstadoCantidadBosque", "Estadisticas")',
            limite: [5, 10, 20],
            columna: 'id_departamento',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridBosques = $("#EstadisticasGrid").anexGrid(Data);

    }

    /// <summary>
    /// Carga de grilla estadistica
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Realiza la carga de la grilla recursos.
    /// </remarks>
    function cargarSP3() {
        $('#EstadisticasContainer').html("<div id='EstadisticasGrid' style='width:100%'> </div>");
        var Data = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [{
                leyenda: 'Departamento',
                style: 'width:150px;',
                class: 'text-center',
                ordenable: true,
                columna: 'id_departamento'

            },
              {
                  leyenda: 'Nombre',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Nombre'

              },
              {
                  leyenda: 'Tipo',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Tipo'
              },
              {
                  leyenda: 'Estado',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Estado'
              },
              {
                  leyenda: 'Presupuesto Asignado',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'PresupuestoAsignado'
              },
              {
                  leyenda: 'Presupuesto Ejecutado',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'PresupuestoEjecutado'
              },
            ],
            modelo: [{
                propiedad: 'id_departamento',
                style: 'text-align: justify;'
            },
              {
                  propiedad: 'Nombre',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Tipo',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Estado',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'PresupuestoAsignado',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'PresupuestoEjecutado',
                  style: 'text-align: justify;'
              },
            ],
            url: '@Url.Action("DepartamentoTipoEstadoPresupuestoCantidadBosque", "Estadisticas")',
            limite: [5, 10, 20],
            columna: 'id_departamento',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridBosques = $("#EstadisticasGrid").anexGrid(Data);

    }

    /// <summary>
    /// Carga de grilla estadistica
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Realiza la carga de la grilla productos/servicios.
    /// </remarks>
    function cargarSP4() {
        $('#EstadisticasContainer').html("<div id='EstadisticasGrid' style='width:100%'> </div>");
        var Data = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [{
                leyenda: 'Departamento',
                style: 'width:150px;',
                class: 'text-center',
                ordenable: true,
                columna: 'Departamento'

            },
              {
                  leyenda: 'Nombre',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Nombre'

              },
              {
                  leyenda: 'Tipo',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Tipo'
              },
            ],
            modelo: [{
                propiedad: 'Departamento',
                style: 'text-align: justify;'
            },
              {
                  propiedad: 'Nombre',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Tipo',
                  style: 'text-align: justify;'
              },
            ],
            url: '@Url.Action("DepartamentoTipoNombreCantidadBosque", "Estadisticas")',
            limite: [5, 10, 20],
            columna: 'Departamento',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridBosques = $("#EstadisticasGrid").anexGrid(Data);

    }

    /// <summary>
    /// Carga de grilla estadistica
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Realiza la carga de la grilla indicadores.
    /// </remarks>
    function cargarSP5() {
        $('#EstadisticasContainer').html("<div id='EstadisticasGrid' style='width:100%'> </div>");
        var Data = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [{
                leyenda: 'Nombre',
                style: 'width:150px;',
                class: 'text-center',
                ordenable: true,
                columna: 'Nombre'

            },
              {
                  leyenda: 'Tipo',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Tipo'
              },
              {
                  leyenda: 'Indicador',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Indicador'

              },
              {
                  leyenda: 'Estado',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Estado'

              },
              {
                  leyenda: 'Promedio',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Promedio'

              },
            ],
            modelo: [{
                propiedad: 'Nombre',
                style: 'text-align: justify;'
            },
              {
                  propiedad: 'Tipo',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Indicador',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Estado',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Promedio',
                  style: 'text-align: justify;'
              },
            ],
            url: '@Url.Action("DepartamentoTipoNombreEstadoBosque", "Estadisticas")',
            limite: [5, 10, 20],
            columna: 'Nombre',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridBosques = $("#EstadisticasGrid").anexGrid(Data);

    }

    /// <summary>
    /// Carga de grilla estadistica
    /// </summary>
    /// <remarks>
    /// <h3>Calidad</h3>
    /// </hr>
    /// <b>Requerimiento:</b> Help Desk</br>
    /// <b>Version:</b> 1</br>
    /// <b>Autor:</b> Grupo Cubo Ltda.</br>
    /// <b>Fecha:</b> 19/12/2017</br>
    /// <b>Descripcion:</b>Realiza la carga de la grilla individuos/especies.
    /// </remarks>
    function cargarSP6() {
        $('#EstadisticasContainer').html("<div id='EstadisticasGrid' style='width:100%'> </div>");
        var Data = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [{
                leyenda: 'Nombre',
                style: 'width:150px;',
                class: 'text-center',
                ordenable: true,
                columna: 'Nombre'

            },
              {
                  leyenda: 'Tipo',
                  style: 'width:20%;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Tipo'
              },
              {
                  leyenda: 'Cantidad',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Cantidad'

              },
              {
                  leyenda: 'Unidad',
                  style: 'width:150px;',
                  class: 'text-center',
                  ordenable: true,
                  columna: 'Unidad'

              },
            ],
            modelo: [{
                propiedad: 'Nombre',
                style: 'text-align: justify;'
            },
              {
                  propiedad: 'Tipo',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Cantidad',
                  style: 'text-align: justify;'
              },
              {
                  propiedad: 'Unidad',
                  style: 'text-align: justify;'
              },
            ],
            url: '@Url.Action("DepartamentoTipoUnidadCantidadBosque", "Estadisticas")',
            limite: [5, 10, 20],
            columna: 'Nombre',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridBosques = $("#EstadisticasGrid").anexGrid(Data);

    }

     function CargarGraficas(){
        var _url = '@Url.Action("Index", "Tablero")'
        CargarFormulario(_url, 'TableroContainer', true);}
    function LoadGraficas(){
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("CantidadBosques", "Tablero")',
            cache: false,
            success: function (result) {
                GraficarGauge('grf00', [result.Nombre,result.Cantidad], 100 , ' bosques', 250, 40)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("DistribucionBosques", "Tablero")',
            cache: false,
            success: function (result) {
                //console.log(result);
                GraficarDatos('grf01', result,['Nombre','Cantidad'],350, 'donut')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("BeneficiandoBosques", "Tablero")',
            cache: false,
            success: function (result) {
                data = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo +' ( '+ value.Unidad + ' )',value.Cantidad])
                });
                GraficarDatos('grf02', data,['Nombre','Cantidad'],350, 'donut', true)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("LogrosBosques", "Tablero")',
            cache: false,
            success: function (result) {
                data = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo +' ( '+ value.Indicador + ' )',value.Avance])
                });
                GraficarDatos('grf03', data,['Nombre','Cantidad'],450,'pie',true)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("InversionesBosques", "Tablero")',
            cache: false,
            success: function (result) {
               // console.log(result)
                data = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo,value.Presupuesto])
                });
                GraficarDatos('grf04', data,['Nombre','Cantidad'],350,'pie',true,true)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("InversionistasBosques", "Tablero")',
            cache: false,
            success: function (result) {
                GraficarDatos('grf05', result,['Nombre','Cantidad'],350,'donut')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("ActividadesBosques", "Tablero")',
            cache: false,
            success: function (result) {
                //console.log(result);
                GraficarDatos('grf06', result,['Tipo','Cantidad'],250, 'pie')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("ProductosServiciosBosques", "Tablero")',
            cache: false,
            success: function (result) {
                //console.log(result);
                GraficarDatos('grf07', result,['Nombre','Cantidad'],350, 'pie')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });


        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("HistorialIndicadores", "Tablero")',
            cache: false,
            success: function (result) {
                data = [];
                data2 = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo,value.Presupuesto])
                });
                //GraficarDatos2D('grf08', result,['indicador','mes'],250)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });

    }

    function GraficarDatos(canvas, json, Label, alto, tipo, preprocesado, format){
        var data = [];
        if(preprocesado){
            data = json
        }
        else{
            $.each(json,function(i,value){
                data.push([value[Label[0]],value[Label[1]]])
            });
        }
        chart = c3.generate({
            bindto: '#' + canvas,
            data:{
                columns: data,
                type : tipo
            },
            pie: {
                label: {
                    format: function (value, ratio, id) {
                        if(format)
                            return '$' + Number(value).toLocaleString('es-CO');
                        return value;
                    }
                }
            },
            donut: {
                label: {
                    format: function (value, ratio, id) {
                        if(format)
                            return '$' + Number(value).toLocaleString('es-CO');
                        return value;
                    }
                }
            },
            size: {
                height: alto
            }
        });
    }

    function GraficarGauge(canvas, data, maximo, unidad, alto, ancho){
        var chart = c3.generate({
            bindto: '#' + canvas,
            data: {
                columns: [data],
                type: 'gauge'
            },
            gauge: {
                label: {
                    format: function (value, ratio, id) {
                        return d3.format(' ')(value);
                    }
                },
                min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
                max: maximo, // 100 is default
                units: unidad,
                width: ancho // for adjusting arc thickness
            },
            color: {
                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                threshold: {
                    values: [30, 60, 90, 100]
                }
            },
            size: {
                height: alto
            }
        });
    }

    $().ready(function () {
        $(document).everyTime(3000, function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("MantenerSesionActiva", "Account")',
                data: {},
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: VerifySessionState,
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    alert(textStatus + ": " + XMLHttpRequest.responseText);
                }
            });

        });
    });

    function SessionAbandon() {
        $.ajax({
            type: "POST",
            url: '@Url.Action("AbandonarSesion", "Account")',
            data: {},
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: true,
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert(textStatus + ": " + XMLHttpRequest.responseText);
            }
        });
    }


    $(document).ready(function () {
        var mb = '@ViewBag.moduloSub';
        cargarListaBosques();
        cargarSP1();
        cargarListaHistoriaYAudio();
        cargarListaProductosServiciosBosques();
        VerificarCorreo();
        VerificarDatosUsuario();
        LoadRoute('@ViewBag.modulo', @ViewBag.IdBosque, '@ViewBag.moduloSub');
        cargarListaIndicadoresHistorial();
        cargarVerificarCorreo();
    });
</script>
