﻿@using (Ajax.BeginForm("Index", "ActividadAuditoria", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HistorialActividadesContainer" }))
{
    <div class="table-responsive">
        <div id="IndexActividadesBosquesHistorial"></div>
    </div>
    <script>
        $(function () {
            var DataRecursosActividadesHistorial = {
                class: 'table-striped table-bordered table-responsive',
                columnas: [
                    {
                        leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoActividad'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'NombreActividadAuditoria'//, filtro: function () {
                        //    return anexGrid_select({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Fecha inicio', style: 'width:20%;', class: 'text-center', columna: 'FechaInicioStr'
                    },
                    {
                        leyenda: 'Fecha fin', style: 'width:20%;', class: 'text-center', columna: 'FechaFinStr'
                    },
                    {
                        leyenda: 'Porcentaje avance', style: 'width:20%;', class: 'text-center', columna: 'PorcentajeAvanceAuditoria'
                    },
                    {
                        leyenda: 'Avance', style: 'width:20%;', class: 'text-center', columna: 'Avance'
                    },
                    {
                        leyenda: 'Estado', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'EstadoActividad'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Estado de creación', style: 'width:20%;', class: 'text-center', columna: 'SentenciaAuditoria'
                    },
                    {
                        leyenda: 'Fecha auditoría', style: 'width:20%;', class: 'text-center', columna: 'FechaAuditoriaStr'
                    },
                ],
                modelo: [
                     {
                         propiedad: 'TipoActividad', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'NombreActividadAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaInicioStr', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaFinStr', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'PorcentajeAvanceAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'Avance', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'EstadoActividad', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'SentenciaAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaAuditoriaStr', style: 'text-align: justify;'
                     },
                ],
                url: '@Url.Action("CargarGrillaHistorial", "ActividadAuditoria")' + '/' + @ViewBag.idActividadBosque,
                limite: [5, 10, 20],
                columna: 'Id_ActividadBosqueAuditorias',
                paginable: true,
                filtrable: true,
                columna_orden: 'DESC'
            };
            var GridRecursosBosques = $("#IndexActividadesBosquesHistorial").anexGrid(DataRecursosActividadesHistorial);

        });
    </script>
}
