﻿@using (Ajax.BeginForm("Index", "RecursoAuditoria", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HistorialRecursosContainer" }))
{
    <div class="table-responsive">
        <div id="IndexRecursosBosquesHistorial"></div>
    </div>
    <script>
        $(function () {
            var DataRecursosBosquesHistorial = {
                class: 'table-striped table-bordered table-responsive',
                columnas: [
                    {
                        leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoRecurso'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'NombreRecursoAuditoria'//, filtro: function () {
                        //    return anexGrid_select({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Presupuesto asignado', style: 'width:20%;', class: 'text-center', columna: 'PresupuestoAsignadoAuditoria'
                    },
                    {
                        leyenda: 'Presupuesto ejecutado', style: 'width:20%;', class: 'text-center', columna: 'PresupuestoEjecutadoAuditoria'
                    },
                    {
                        leyenda: 'Fecha de actualización', style: 'width:20%;', class: 'text-center', columna: 'FechaActualizacionStrAuditoria'
                    },
                    {
                        leyenda: 'Estado', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'Estado'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Estado de creación', style: 'width:20%;', class: 'text-center', columna: 'SentenciaAuditoria'
                    },
                    {
                        leyenda: 'Fecha auditoría', style: 'width:20%;', class: 'text-center', columna: 'FechaAuditoriaStr'
                    },
                ],
                modelo: [
                     {
                         propiedad: 'TipoRecurso', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'NombreRecursoAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'PresupuestoAsignadoAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'PresupuestoEjecutadoAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaActualizacionStrAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'Estado', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'SentenciaAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaAuditoriaStr', style: 'text-align: justify;'
                     },
                ],
                url: '@Url.Action("CargarGrillaHistorial", "RecursoAuditoria")' + '/' + @ViewBag.idBosqueRecurso,
                limite: [5, 10, 20],
                columna: 'Id_RecursoBosqueAuditorias',
                paginable: true,
                filtrable: true,
                columna_orden: 'DESC'
            };
            var GridRecursosBosques = $("#IndexRecursosBosquesHistorial").anexGrid(DataRecursosBosquesHistorial);

        });
    </script>
}
