﻿@model IEnumerable<BosquesPaz.Models.Bosques>
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<head>
    <title>EcoTech - Mapa</title>
    <link rel="stylesheet" type="text/css" href="~/plugins/slick-1.8.0/slick.css">
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
    <script src="~/Scripts/Bosques/openBosques.js"></script>
    <script src="~/Scripts/Bosques/layout.js"></script>
    <script src="~/Scripts/Bosques/mapas.js"></script>
    <script src="~/Scripts/Bosques/sesion.js"></script>
    <script src="~/Scripts/Bosques/multimedia.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.4/dist/leaflet.css"
          integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
          crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js"
            integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA=="
            crossorigin=""></script>

    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="~/Scripts/Leaflet/leaflet-providers.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <script>
    function cargarMapaBosques() {
        var _url = '@Url.Action("Bosques", "Mapas")';
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: _url,
            cache: false,
            success: function (result) {
                var map = L.map('mapaAll').setView([4.635556, -74.082778], 6);
                L.tileLayer.provider('OpenStreetMap.Mapnik').addTo(map);

                $.each(result, function (index, bosque) {
                    var marker = null;
                    marker = L.marker([Number(bosque.Latitud), Number(bosque.Longitud)]).addTo(map).bindPopup('<h3>' + bosque.NombreBosque + '</h3><br/>' +
                        ' <input type="button" onclick=" CargarDetalleBosqueMapa(' + bosque.Id_Bosque + ')" value="Ver detalle" class="btn btn-form" />');
                });

                LoadMapaAll(map);

            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
    }
    </script>

</head>
<div class="reviews">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="reviews_title_container">
                        <h3 class="reviews_title">Cobertura</h3>
                        <div id="mapaAll" style="width:100%;height:600px">
                            <div class="row" id="CargandoMapa">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <div class="col-md-2">
                                        <h3>Cargando...</h3>
                                    </div>
                                    <div class="col-md-10">
                                        <div style='width:200px; height:200px;'>
                                            <div class='loader' id='loader'></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>   
<script>cargarMapaBosques();</script> 
<script src="~/js/custom.js"></script> 


