﻿@model BosquesPaz.Models.ProductosServicios
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

@{
    ///Almacena la cadena de caracteres de la direccion url de el detalle de individuos/especies
    string url = "?m=Bosques&id=" + Model.Id_Bosque + "&mb=Productos&mbid=" + Model.Id_ProductoServicio;
}

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TiposProductosServicios.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Descripción:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Descripcion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Imagenes:</label>
        </div>
        <div class="col-md-8 inner-addon right-addon">
            <span class="glyphicon glyphicon-picture" />
            <input id="btnImagenesProductosServicios" type="button" onclick="LoadPhotosProductosServicios(@Model.Id_ProductoServicio)" value="Imagenes" class="btn btn-form" />
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Precio:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Precio, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Estado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.EstadosProductosServicios.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de actualización:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaActualizacion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
            <div class="form-group">
                <div id="link" class="fb-share-button" data-href="https://gcl.westeurope.cloudapp.azure.com:8199/@url" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgcl.westeurope.cloudapp.azure.com%3A8199%2F&amp;src=sdkpreparse">Compartir</a></div>
                @{
                    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "ProductosServicios"))
                {
                    <input id="btnListadoRecursosBosques" type="button" onclick="EditarProductoServicio(@Model.Id_ProductoServicio)" value="Editar" class="btn btn-form" />
                }
                <input id="btnListadoRecursosBosques" type="button" onclick="cargarListaProductoServicio(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>
    cargarListaIndividuos(@Model.Id_Bosque);

    FB = null;
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        //if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>




