﻿@model BosquesPaz.Models.ProductosServicios

@using (Ajax.BeginForm("Edit", "ProductoServicio", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ProductosContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_Bosque)
        @Html.HiddenFor(model => model.Id_ProductoServicio)
        <div class="row">
            <div class="col-md-3">
                <label>Tipo:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_TipoProductoServicio, new SelectList(ViewBag.TiposProductosServicios, "Id_TipoProductoServicio", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_TipoProductoServicio, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Descripción:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Descripcion, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Precio:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Precio, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Precio, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Estado:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_EstadoProductoServicio, new SelectList(ViewBag.EstadosProductosServicios, "Id_EstadoProductoServicio", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_EstadoProductoServicio, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnDetalleProductoServicio" type="button" onclick="DetalleProductoServicio(@Model.Id_ProductoServicio)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

    <script>
        $(".chosen-select").chosen({
            no_results_text: "Sin Resultado",
            width: "100%",
            search_contains: true,
            placeholder_text_multiple: 'SELECCIONE...',
            display_selected_options: false
        });

        $(".chosen-select-single").chosen({
            no_results_text: "Sin Resultado",
            width: "100%",
            search_contains: true,
            placeholder_text_single: 'SELECCIONE...',
            display_selected_options: false
        });
    </script>

