﻿@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios
<br />
<br />
@{ 
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}
@if (infraestructura.PermisoUsuario(info, "Crear", "ProductosServicios"))
{
    <input id="btnCrearProductoServicio" type="button" onclick="CrearProductoServicio(@ViewBag.idBosque);" value="Nuevo" class="btn btn-new" />
}
<br />
<br />
<div class="table-responsive">
    <div id="IndexProductoServicio"></div>
</div>
<br />


<script>
    ;
    $(function () {
        var DataProductoServicio = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Tipo', style: 'width:20%;', class: 'text-center', columna: 'TipoProductoServicio'
                },
                {
                    leyenda: 'Nombre', style: 'width:20%;', class: 'text-center', columna: 'Nombre'
                },
                {
                    leyenda: 'Descripción', style: 'width:20%;', class: 'text-center', columna: 'Descripcion'
                },
                {
                    leyenda: 'Imagen', style: 'width:20%;', class: 'text-center', columna: 'Foto'
                },
                {
                    leyenda: 'Precio', style: 'width:20%;', class: 'text-center', columna: 'Precio'
                },
                {
                    leyenda: 'Estado', style: 'width:20%;', class: 'text-center', columna: 'EstadoProductoServicio'
                },
                {
                    leyenda: 'Fecha de modificación', style: 'width:20%;', class: 'text-center', columna: 'FechaActualizacion'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleProductoServicio',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_ProductoServicio
                         });
                     }
                 },
                 {
                     propiedad: 'TipoProductoServicio', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Nombre', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Descripcion', style: 'text-align: justify;'
                 },
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-ImagenesProductoServicio',
                             contenido: '<span class="glyphicon glyphicon-picture" />',
                             value: obj.Id_ProductoServicio
                         });
                     }
                 },
                 {
                     propiedad: 'Precio', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'EstadoProductoServicio', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'FechaActualizacion', style: 'text-align: justify;'
                 },
            ],
            url: '@Url.Action("CargarGrilla", "ProductoServicio")' + '/' + @ViewBag.idBosque,
            limite: [5, 10, 20],
            columna: 'Id_ProductoServicio',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridRecursosBosques = $("#IndexProductoServicio").anexGrid(DataProductoServicio);

        GridRecursosBosques.tabla().on('click', '.btn-DetalleProductoServicio', function () {
            DetalleProductoServicio(this.value);
        });
        GridRecursosBosques.tabla().on('click', '.btn-ImagenesProductoServicio', function () {
            LoadPhotosProductosServicios(this.value);
        });
    });


    (function () { $('#', 'ProductosContainer').html(""); })();
</script>
