﻿@model BosquesPaz.Models.PatrocinadoresBosques
<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-6">
            @Html.DropDownListFor(model => model.Id_TipoPatrocinador, new SelectList(ViewBag.TiposPatrocinadores, "Id_TipoPatrocinador", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
            @Html.ValidationMessageFor(model => model.Id_TipoPatrocinador, "", new { @class = "text-danger" })
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-7"></div>
        <div class="col-xs-5">
            <div class="form-group">
                <input id="btnProductosServicios" type="button" onclick="ProductosServicios();" value="Ir a productos y servicios" class="btn btn-form" />
                <input id="btnListaOportunidades" type="button" onclick="cargarListaOportunidades(@Model.Id_PatrocinadorBosque)" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>

<script>
    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
