﻿@model BosquesPaz.Models.Oportunidades
@{
    ///Define una variable de sesion para verificar si el usuario puede realizar edicion de sus datos
    Session["Oportunidad"] = null;
}

@using (Ajax.BeginForm("CreateOportunidad", "Oportunidad", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "OportunidadesContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_PatrocinadorBosque)
        <div class="row">
            <div class="col-md-3">
                <label>Oportunidad:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NombreOportunidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreOportunidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Cantidad:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnListaOportunidades" type="button" onclick="cargarListaOportunidades(@Model.Id_PatrocinadorBosque)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

