﻿@model BosquesPaz.Models.PatrocinadoresBosques
<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Bosque:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Bosques.NombreBosque, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TiposPatrocinadores.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NombreRazon, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Departamento:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Departamentos.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Municipio:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Municipios.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Responsable:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Responsable, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Telefono:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Telefono, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Correo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Correo, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Sitio web:</label>
        </div>
        <div class="col-md-8">
            <a href="@Html.DisplayFor(model => model.SitioWeb, new { @class = "form-control" })" target="_blank"><span class="glyphicon glyphicon-link" />Enlace</a>
        </div>
    </div>
    <br />

    <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
            <div class="form-group">
                @if (Session["infoUsuario"] == null && Session["Oportunidad"] == null)
                {
                    <input id="btnEditarPatrocinador" type="button" onclick="EditarPatrocinadorOportunidad(@Model.Id_PatrocinadorBosque)" value="Editar" class="btn btn-form" />
                    <input id="btnVerificarCorreo" type="button" onclick="VerificarCorreo()" value="Volver" class="btn btn-form" />
                }
            </div>
        </div>
    </div>
</div>
