﻿@model BosquesPaz.Models.Oportunidades

@{ 
    ///Define una variable de sesion para verificar si el usuario puede realizar edicion de sus datos
    Session["Oportunidad"] = "Sin edicion";
}

<div class="form-group">
    <br />
    <br />
    <div id="Oportunidad" style="width:100%">
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NombreOportunidad, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Cantidad, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                <input id="btnListaOportunidades" type="button" onclick="cargarListaOportunidades(@Model.Id_PatrocinadorBosque)" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>

<script>
    function CargarDetalleAdmin(id) {
        $.ajax({
            contentType: 'application/html; charset=utf-8',
            type: "GET",
            dataType: 'html',
            url: 'Oportunidad/Details/' + id,
            cache: false,
            success: function (result) {
                $('#Oportunidad').html(result);
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
    }
    CargarDetalleAdmin(@Model.Id_PatrocinadorBosque);
</script>
