﻿<br />
<br />
<div class="form-group">
    <br />
    <div class="row">
        <input id="btnCrearOportunidad" type="button" onclick="CrearOportunidad(@ViewBag.idPatrocinador);" value="Nuevo" class="btn btn-new" />
    </div>
    <br />
    <div class="row">
        <div class="table-responsive">
            <div id="IndexOportunidadInversionesDonaciones"></div>
        </div>
    </div>
    <br />
</div>

<script>
    ;
    $(function () {
        var DataOportunidad = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Oportunidad', style: 'width:20%;', class: 'text-center', columna: 'NombreOportunidad'
                },
                {
                    leyenda: 'Cantidad', style: 'width:20%;', class: 'text-center', columna: 'Cantidad'
                },
                {
                    leyenda: 'Tipo', style: 'width:20%;', class: 'text-center', columna: 'Tipo'
                },
                {
                    leyenda: 'Estado', style: 'width:20%;', class: 'text-center', columna: 'Estado'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleOportunidad',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_Oportunidad
                         });
                     }
                 },
                 {
                     propiedad: 'NombreOportunidad', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Cantidad', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Tipo', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Estado', style: 'text-align: justify;'
                 },
            ],
            url: '@Url.Action("CargarGrilla", "Oportunidad")' + '/' + @ViewBag.idPatrocinador,
            limite: [5, 10, 20],
            columna: 'Id_Oportunidad',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridPatrocinador = $("#IndexOportunidadInversionesDonaciones").anexGrid(DataOportunidad);

        GridPatrocinador.tabla().on('click', '.btn-DetalleOportunidad', function () {
            DetalleOportunidad(this.value);
        });
    });
</script>
