﻿<div class="w3-container">
    <div class="w3-panel w3-border w3-round w3-border-gray">
        <div class="w3-row">
            <a href="javascript:void(0)" onclick="openBosques(event, 'InversionesDonaciones');">
                <div id="InversionesDonacionesTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue" style="width:20%;">Inversiones donaciones</div>
            </a>
            <a href="javascript:void(0)" onclick="openBosques(event, 'ComprasAlianzas');">
                <div id="ComprasAlianzasTab" class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding" style="width:20%;">Compras Alianzas</div>
            </a>
        </div>
        <div id="InversionesDonaciones" class="w3-container bosqueSub">
            <div id="InversionesDonacionesContainer" style="width:100%">
            </div>
        </div>
        <div id="ComprasAlianzas" class="w3-container bosqueSub" style="display:none">
            <div id="ComprasAlianzasContainer" style="width:100%">

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-10"></div>
        <div class="col-md-2">
            <input id="btnVerificarCorreo" type="button" onclick="VerificarCorreo()" value="Volver" class="btn btn-form" />
        </div>
    </div>
    <br />
</div>
<script>
    VerificarUsuarioOportunidad('@ViewBag.UsuarioAdmin');

    function VerificarUsuarioOportunidad(usuario) {
        if (usuario == "UsuarioAdmin") {
            cargarListaAdminInversionesDonaciones();
            cargarListaAdminComprasAlianzas();
        }
        else {
            cargarListaInversionesDonaciones(@ViewBag.idPatrocinador);
            cargarListaComprasAlianzas(@ViewBag.idPatrocinador);
        }
    }
</script>
