﻿@model BosquesPaz.Models.DatosContactosBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

@using (Ajax.BeginForm("Create", "DatoContacto", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "DatosContactosContainer" }))
{

    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_DatoContactoBosque)
        <div class="row">
            <div class="col-md-3">
                <label>Responsable:</label>
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.Responsable, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Responsable, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Teléfono:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @type = "number" } })
                @Html.ValidationMessageFor(model => model.Telefono, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Correo:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.CorreoElectronico, new { htmlAttributes = new { @class = "form-control", @type = "email" } })
                @Html.ValidationMessageFor(model => model.CorreoElectronico, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Dirección:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Indicaciones de como llegar:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Indicaciones, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Indicaciones, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Jurisdicción a cargo:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.JurisdiccionCargo, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.JurisdiccionCargo, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}


