﻿@model BosquesPaz.Models.DatosContactosBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Responsable:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Responsable, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Teléfono:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Telefono, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Correo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.CorreoElectronico, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Direccion:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Direccion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Indicaciones de como llegar:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Indicaciones, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Jurisdicción a cargo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.JurisdiccionCargo, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @{
                    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "Indicadores"))
                {
                    <input id="btnEditarDatoContacto" type="button" onclick="EditarDatoContacto(@Model.Id_DatoContactoBosque)" value="Editar" class="btn btn-form" />
                }
            </div>
        </div>
    </div>
</div>
