﻿@model BosquesPaz.Models.FotosProductosServicios
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios;

@{
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}

@using (Html.BeginForm("UploadFotosProductosServicios", "Fotos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (infraestructura.PermisoUsuario(info, "Crear", "ProductosServicios"))
    {
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Id_ProductoServicio)
            @Html.LabelFor(m => m.Fotos)
        </div>
        <div class="col-md-12">
            <h5>Formatos aceptados(.jpg, .png, .jpeg, .gif, .tiff)</h5>
        </div>
        <div class="col-md-12">
            <input type="file" name="Fotos" id="Fotos" multiple accept=".jpg, .png, .jpeg, .gif, .tiff" />
        </div>
        <div class="col-md-12">
            <button class="btn btn-default">Guardar</button>
        </div>
    }
}
