﻿@model IEnumerable<BosquesPaz.Models.FotosIndividuosEspecies>
<style>
    .mySlides {
        display: none;
    }

    .demo {
        cursor: pointer;
    }
</style>

@{
    int item = 1;
}
@if (Model.Count() > 0)
{
    <div class="w3-content" style="max-width:800px">
    
     
            @foreach (var foto in Model)
            {
               
                    <img class="demo w3-opacity w3-hover-opacity-off" src="/Multimedia/Imagen?img=@foto.Url.Split('\\').LastOrDefault()" style="width:100%; margin:auto;" onclick="currentDiv(@item)">
              
                break;
            }
     
    </div>

    <script>
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-opacity-off";
        }
    </script>
}
@if (Model.Count() == 0)
{
    <div class="w3-content" style="max-width:800px">
        <img src="~/Content/Imagenes/especiesRecuperadas.png" style="max-width:100%; max-height:400px;margin:auto;">
    </div>
}
