﻿@using (Ajax.BeginForm("Index", "IndividuoAuditoria", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HistorialIndividuosContainer" }))
{
    <div class="table-responsive">
        <div id="IndexIndividuosHistorial"></div>
    </div>
    <script>
        $(function () {
            var DataIndividuosHistorial = {
                class: 'table-striped table-bordered table-responsive',
                columnas: [
                    {
                        leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoIndividuo'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'NombreAuditoria'//, filtro: function () {
                        //    return anexGrid_select({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Descripción', style: 'width:20%;', class: 'text-center', columna: 'DescripcionAuditoria'
                    },
                    {
                        leyenda: 'Cantidad', style: 'width:20%;', class: 'text-center', columna: 'CantidadAuditoria'
                    },
                    {
                        leyenda: 'Unidad', style: 'width:20%;', class: 'text-center', columna: 'UnidadIndividuo'
                    },
                    {
                        leyenda: 'Fecha auditoría', style: 'width:20%;', class: 'text-center', columna: 'FechaAuditoriaStr'
                    },
                ],
                modelo: [
                     {
                         propiedad: 'TipoIndividuo', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'NombreAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'DescripcionAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'CantidadAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'UnidadIndividuo', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaAuditoriaStr', style: 'text-align: justify;'
                     },
                ],
                url: '@Url.Action("CargarGrillaHistorial", "IndividuoAuditoria")' + '/' + @ViewBag.idIndividuoEspecie,
                limite: [5, 10, 20],
                columna: 'Id_IndividuosEspeciesAuditoria',
                paginable: true,
                filtrable: true,
                columna_orden: 'DESC'
            };
            var GridIndividuoAuditoria = $("#IndexIndividuosHistorial").anexGrid(DataIndividuosHistorial);

        });
       
    </script>
}
