﻿@model BosquesPaz.Models.AudiosHistorias
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios;

@{
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}

@using (Html.BeginForm("UploadAudios", "Audios", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    if (infraestructura.PermisoUsuario(info, "Crear", "Recursos"))
    {
        <div class="col-md-12">
            @Html.HiddenFor(m => m.Id_HistoriaBosque)
            @Html.LabelFor(m => m.Audios)
        </div>
        <div class="col-md-12">
            <h5>Formatos aceptados(.wav, .mp3, .aac, .wma)</h5>
        </div>
        <div class="col-md-12">
            <input type="file" name="Audios" id="Audios" multiple accept=".wav, .mp3, .aac, .wma" />
        </div>
        <div class="col-md-12">
            <button class="btn btn-default">Guardar</button>
        </div>
    }
}
