﻿@model IEnumerable<BosquesPaz.Models.AudiosHistorias>

@if (Model.Count() > 0)
{
  

        <audio id="player" controls="controls"  style="max-width: 140px !important;">
            @foreach (var audio in Model)
            {
                <source src="/Multimedia/Audio?aud=@audio.UrlAudio.Split('\\').LastOrDefault()" type="audio/mp3" />
            }
        </audio>
 
}

@if (Model.Count() == 0)
{
    <div class="w3-content" style="max-width:800px">
        @*No hay audio para escuchar...*@
    </div>
}
