﻿@model BosquesPaz.Models.RecursosBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TiposRecursos.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NombreRecurso, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Presupuesto asignado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.PresupuestoAsignado, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Presupuesto ejecutado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.PresupuestoEjecutado, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de actualización:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaActualizacionStr, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Estado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Estados.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <div id="AdministradorRecursosContainer"></div>
    <br />
    <br />
    <div class="row">
        <div class="w3-container">
            <div class="w3-panel w3-border w3-round w3-border-gray">
                <div class="w3-row">
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Historial');">
                        <div class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue" style="width:20%;">Historial</div>
                    </a>
                </div>
                <div id="Historial" class="w3-container bosque">
                    <div id="HistorialRecursosContainer" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @{ 
                    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "Recursos"))
                {
                    <input id="btnEditarRecursosBosques" type="button" onclick="EditarRecursoBosque(@Model.Id_RecursoBosque)" value="Editar" class="btn btn-form" />
                }
                <input id="btnListadoRecursosBosques" type="button" onclick="cargarListaAdministradorRecursos(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
    <br />
    <br />
</div>
<script>
    cargarListaAdministradorRecursosHistorial(@Model.Id_RecursoBosque);
</script>




