﻿@model BosquesPaz.Models.RecursosBosques

@using (Ajax.BeginForm("Edit", "Recurso", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "AdministradorRecursosContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_Bosque)
        @Html.HiddenFor(model => model.Id_RecursoBosque)
        <div class="row">
            <div class="col-md-3">
                <label>Tipo:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_TipoRecurso, new SelectList(ViewBag.TiposRecursos, "Id_TipoRecurso", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_TipoRecurso, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NombreRecurso, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreRecurso, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Presupuesto asignado:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PresupuestoAsignado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PresupuestoAsignado, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Presupuesto ejecutado:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PresupuestoEjecutado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PresupuestoEjecutado, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Fecha Actualización:</label>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    @Html.EditorFor(model => model.FechaActualizacion, new { htmlAttributes = new { @id = "FechaActualizacion", @class = "datepicker form-control", @placeholder = Model.FechaActualizacionStr, @type = "text" } })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.FechaActualizacion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Estado:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_Estado, new SelectList(ViewBag.Estados, "Id_Estado", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_Estado, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnListadoRecursoBosque" type="button" onclick="DetalleRecursoBosque(@Model.Id_RecursoBosque)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    setDatePicker('FechaActualizacion');
    $(".chosen-select").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_multiple: 'SELECCIONE...',
        display_selected_options: false
    });

    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
