﻿@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios;
<br />
<br />
@{ 
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}
@if (infraestructura.PermisoUsuario(info, "Crear", "Bosques"))
{
    <input id="btnCrearBosque" type="button" onclick="CrearRecurso(@ViewBag.idBosque);" value="Nuevo" class="btn btn-new" />
}
<br />
<br />
<div class="table-responsive">
    <div id="IndexRecursosBosques"></div>
</div>
<script>
    $(function () {
        var DataRecursosBosques = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoRecurso'//, filtro: function () {
                    //    return anexGrid_input({
                    //        type: 'text'
                    //    });
                    //}
                },
                {
                    leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'NombreRecurso'//, filtro: function () {
                    //    return anexGrid_select({
                    //        type: 'text'
                    //    });
                    //}
                },
                {
                    leyenda: 'Presupuesto asignado', style: 'width:20%;', class: 'text-center', columna: 'PresupuestoAsignado'
                },
                {
                    leyenda: 'Presupuesto ejecutado', style: 'width:20%;', class: 'text-center', columna: 'PresupuestoEjecutado'
                },
                {
                    leyenda: 'Fecha de actualización', style: 'width:20%;', class: 'text-center', columna: 'FechaActualizacionStr'
                },
                {
                    leyenda: 'Estado', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'Estado'//, filtro: function () {
                    //    return anexGrid_input({
                    //        type: 'text'
                    //    });
                    //}
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleRecursoBosque',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_RecursoBosque
                         });
                     }
                 },
                 {
                     propiedad: 'TipoRecurso', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'NombreRecurso', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'PresupuestoAsignado', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'PresupuestoEjecutado', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'FechaActualizacionStr', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Estado', style: 'text-align: justify;'
                 },
            ],
            url: '@Url.Action("CargarGrilla", "Recurso")' + '/' + @ViewBag.idBosque,
            limite: [5, 10, 20],
            columna: 'Id_RecursoBosque',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridRecursosBosques = $("#IndexRecursosBosques").anexGrid(DataRecursosBosques);

        GridRecursosBosques.tabla().on('click', '.btn-DetalleRecursoBosque', function () {
            DetalleRecursoBosque(this.value);
        });
    });
</script>





