﻿@*<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>.:: Bosques de Paz ::.</title>
    <meta property="og:url" content="https://gcl.westeurope.cloudapp.azure.com:8199" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Bosques Paz" />
    <meta property="og:description" content="Información de los bosques y comunidades de Colombia." />
    <meta property="og:image" content="/Content/Imagenes/Bosque.jpg" />

    @Styles.Render("~/Content/css")
    <link rel="stylesheet" type="text/css" href="~/Content/cargando.css">
    <link rel="stylesheet" href="~/Content/Chosen/chosen.css" />
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/recursos")
    <script src="~/Scripts/Chosen/chosen.jquery.js"></script>
    <script src="~/Scripts/Chosen/chosen.proto.js"></script>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/WordFind/StyleWordFind.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSnapPuzzle/StyleSnapPuzzle.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSnapPuzzle/styleSnap.css">
    <link rel="stylesheet" type="text/css" href="~/Content/StyleSnapPuzzle/StyleSnapResponsive.css">
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="~/Scripts/Leaflet/leaflet-providers.js"></script>
    <script src="~/Scripts/AnexGrid/jquery.anexgrid.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.min.js"></script>
    <script src="~/Scripts/WordFind/wordfind.js"></script>
    <script src="~/Scripts/WordFind/wordfindgame.js"></script>
    <script src="~/Scripts/SnapPuzzle/jquerysnappuzzle.js"></script>
    <script src="~/Scripts/Bosques/openBosques.js"></script>
    <script src="~/Scripts/Bosques/layout.js"></script>
    <script src="~/Scripts/Bosques/multimedia.js"></script>
    <script src="~/Scripts/Bosques/mapas.js"></script>
    <script src="~/Scripts/Bosques/sesion.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">

        <div class="container">
            <div class="navbar-header">

                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <img src="~/Content/Imagenes/logo.png" style="max-height: 50px" />
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Bosques de Paz", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
        <hr />
        <footer>
            &copy; @DateTime.Now.Year - Grupo Cubo LTDA.
        </footer>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>*@
