﻿<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Turismo ecológico">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="~/styles/bootstrap4/bootstrap.min.css">
    <link href="~/plugins/fontawesome-free-5.0.1/css/fontawesome-all.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.carousel.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/OwlCarousel2-2.2.1/animate.css">
    <script src="~/Scripts/Bosques/multimedia.js"></script>
    <script src="~/Scripts/Bosques/openBosques.js"></script>
    <script src="~/Scripts/Bosques/layout.js"></script>
    <script src="~/Scripts/Bosques/mapas.js"></script>
    <script src="~/Scripts/Bosques/sesion.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
</head>

<body>
    <div class="super_container">
        <!-- Header -->


        <header id="header">
            <div class="inner">
                <a href="/" class="logo">Eco<b>Tech</b></a>
                <nav id="nav">
                    <a href="/">Bosques</a>
                    <a href="/Historia">Historias</a>
                    <a href="#productos">Productos</a>
                    <a href="/Tablero">Tablero</a>
                    <a href="/Mapas">Cobertura</a>
                </nav>
            </div>
        </header>
        <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

        <header class="header" style="visibility: hidden">
            <!-- Header Main -->
            <div class="header_main">
                <div class="container">
                    <div class="row">
                        <!-- Search -->
                        <div class="col-lg-6 col-12 order-lg-2 order-3 text-lg-left text-right">
                            <div class="header_search">
                                <div class="header_search_content">
                                    <div class="header_search_form_container" style="display: none;">
                                        <form action="#" class="header_search_form clearfix">
                                            <div class="custom_dropdown">
                                                <div class="custom_dropdown_list">
                                                    <span class="custom_dropdown_placeholder clc">Categorías</span>
                                                    <i class="fas fa-chevron-down"></i>
                                                    <ul class="custom_list clc">
                                                        <li><a class="clc" href="#"></a></li>
                                                        <li><a class="clc" href="#"></a></li>
                                                        <li><a class="clc" href="#"></a></li>
                                                        <li><a class="clc" href="#"></a></li>
                                                        <li><a class="clc" href="#"></a></li>
                                                        <li><a class="clc" href="#"></a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>



        </header>

        @RenderBody()
        <div class="messenger">
            <button class="botonF1" onclick="location.href='http://m.me/2176605439287900?ref=Bienvenida';">
                <span><i class="fab fa-facebook-messenger"></i></span>
            </button>
            <button class="btn botonF2">
                <span>¡Planea tu aventura!</span>
            </button>
        </div>      
 
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col">

                        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
                            <div class="copyright_content">
                                <a href="http://grupo-cubo.co/"><img src="~/Content/Imagenes/logo.png" alt="logo"></a>                                
                            </div>                           
                            <div class="footer_social">
                                <ul>
                                    <li><a href="https://www.facebook.com/EcoTech-2176605439287900/?modal=admin_todo_tour"><i
                                                class="fab fa-facebook-f"></i></a></li>
                                </ul>
                            </div>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/skel.min.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/styles/bootstrap4/popper.js"></script>
    <script src="~/styles/bootstrap4/bootstrap.min.js"></script>
    <script src="~/plugins/greensock/TweenMax.min.js"></script>
    <script src="~/plugins/greensock/TimelineMax.min.js"></script>
    <script src="~/plugins/scrollmagic/ScrollMagic.min.js"></script>
    <script src="~/plugins/greensock/animation.gsap.min.js"></script>
    <script src="~/plugins/greensock/ScrollToPlugin.min.js"></script>
    <script src="~/plugins/OwlCarousel2-2.2.1/owl.carousel.js"></script>
    <script src="~/plugins/slick-1.8.0/slick.js"></script>
    <script src="~/plugins/easing/easing.js"></script>
</body>

</html>