﻿@using Microsoft.AspNet.Identity
@using BosquesPaz.ServiceReferenceFuncionarios
@using BosquesPaz.Helpers

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hola " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Cerrar sesión</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        @{
            var infraestructura = new Infraestructura();
            EntidadInfoUsuario info = null;
            if (Session["infoUsuario"] != null)
            {
                info = Session["infoUsuario"] as EntidadInfoUsuario;
            }
        }
        @if (infraestructura.SesionUsuario(info))
        {
            <li><a href="javascript:void(0)" onclick="logOut();">Cerrar Sesión</a>></li>
        }
        else
        {
            <li>@Html.ActionLink("Iniciar sesión", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        }
        
    </ul>
}
