﻿@model BosquesPaz.Models.IndividuosEspecies

@using (Ajax.BeginForm("Create", "Individuo", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "IndividuosContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_Bosque)
        <div class="row">
            <div class="col-md-3">
                <label>Tipo:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_TipoIndividuoEspecie, new SelectList(ViewBag.TiposIndividuosEspecies, "Id_TipoIndividuoEspecie", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_TipoIndividuoEspecie, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Descripción:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Descripcion, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Descripcion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Cantidad estimada:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Cantidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Unidad:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_UnidadIndividuoEspecie, new SelectList(ViewBag.UnidadesIndividuosEspecies, "Id_UnidadIndividuoEspecie", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_UnidadIndividuoEspecie, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnListadoIndividuoEspecie" type="button" onclick="cargarListaIndividuos(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

<script>

    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>

