﻿@model BosquesPaz.Models.IndividuosEspecies
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

@{
    ///Almacena la cadena de caracteres de la direccion url de el detalle de individuos/especies
    string url = "?m=Bosques&id=" + Model.Id_Bosque + "&mb=Individuos&mbid=" + Model.Id_IndividuoEspecie;
}

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TiposIndividuosEspecies.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Descripción:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Descripcion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Cantidad:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Cantidad, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Unidad:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.UnidadesIndividuosEspecies.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Imagenes:</label>
        </div>
        <div class="col-md-8 inner-addon right-addon">
            <span class="glyphicon glyphicon-picture" />
            <input id="btnImagenesIndividuosEspecies" type="button" onclick="LoadPhotosIndividuosEspecies(@Model.Id_IndividuoEspecie)" value="Imagenes" class="btn btn-form" />
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="w3-container">
            <div class="w3-panel w3-border w3-round w3-border-gray">
                <div class="w3-row">
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Historial');">
                        <div class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue" style="width:20%;">Historial</div>
                    </a>
                </div>
                <div id="Historial" class="w3-container bosque">
                    <div id="HistorialIndividuosContainer" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-8"></div>
        <div class="col-xs-4">
            <div class="form-group">
                <div id="fb-link" class="fb-share-button" data-href="https://gcl.westeurope.cloudapp.azure.com:8199/@url" data-layout="button" data-size="small" data-mobile-iframe="true"><a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fgcl.westeurope.cloudapp.azure.com%3A8199%2F&amp;src=sdkpreparse">Compartir</a></div>
                @{
                    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "IndividuosEspecies"))
                {
                    <input id="btnListadoIndividuosEspecies" type="button" onclick="EditarIndividuoEspecie(@Model.Id_IndividuoEspecie)" value="Editar" class="btn btn-form" />
                }
                <input id="btnListadoIndividuosEspecies" type="button" onclick="cargarListaIndividuos(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>
<div id="fb-root"></div>
<script>
    cargarListaProductoServicio(@Model.Id_Bosque);

    FB = null;
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        //if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = 'https://connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.11';
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
<script>
    cargarListaAdministradorIndividuosHistorial(@Model.Id_IndividuoEspecie);
</script>



