﻿@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios
<br />
<br />
@{ 
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}
@if (infraestructura.PermisoUsuario(info, "Crear", "IndividuosEspecies"))
{
    <input id="btnCrearIndividuoEspecie" type="button" onclick="CrearIndividuoEspecie(@ViewBag.idBosque);" value="Nuevo" class="btn btn-new" />
}


<br />
<br />
<div class="table-responsive">
    <div id="IndexIndividuoEspecie"></div>
</div>
<br />


<script>
    $(function () {
        var DataIndividuoEspecie = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Tipo', style: 'width:20%;', class: 'text-center', columna: 'TipoInidividuoEspecie'
                },
                {
                    leyenda: 'Nombre', style: 'width:20%;', class: 'text-center', columna: 'Nombre'
                },
                {
                    leyenda: 'Descripción', style: 'width:20%;', class: 'text-center', columna: 'Descripcion'
                },
                {
                    leyenda: 'Cantidad', style: 'width:20%;', class: 'text-center', columna: 'Cantidad'
                },
                {
                    leyenda: 'Unidad', style: 'widht:20%', class: 'text-center', columna: 'UnidadIndividuoEspecie' 
                },
                {
                    leyenda: 'Imagenes', style: 'width:20%;', class: 'text-center'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleIndividuoEspecie',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_IndividuoEspecie
                         });
                     }
                 },
                 {
                     propiedad: 'TipoInidividuoEspecie', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Nombre', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Descripcion', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Cantidad', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'UnidadIndividuoEspecie', style: 'text-align: justify;'
                 },
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-ImagenesIndividuoEspecie',
                             contenido: '<span class="glyphicon glyphicon-picture" />',
                             value: obj.Id_IndividuoEspecie
                         });
                     }
                 }
            ],
            url: '@Url.Action("CargarGrilla", "Individuo")' + '/' + @ViewBag.idBosque,
            limite: [5, 10, 20],
            columna: 'Id_IndividuoEspecie',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridRecursosBosques = $("#IndexIndividuoEspecie").anexGrid(DataIndividuoEspecie);

        GridRecursosBosques.tabla().on('click', '.btn-DetalleIndividuoEspecie', function () {
            DetalleIndividuoEspecie(this.value);
        });
        GridRecursosBosques.tabla().on('click', '.btn-ImagenesIndividuoEspecie', function () {
            LoadPhotosIndividuosEspecies(this.value);
        });
    });
</script>
