﻿@using (Ajax.BeginForm("Index", "IndicadorAuditoria", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "HistorialIndicadoresContainer" }))
{
    <div class="table-responsive">
        <div id="IndexIndicadoresBosquesHistorial"></div>
    </div>
    <script>
        $(function () {
            var DataIndicadoresHistorial = {
                class: 'table-striped table-bordered table-responsive',
                columnas: [
                    {
                        leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoIndicador'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'NombreIndicadorAuditoria'//, filtro: function () {
                        //    return anexGrid_select({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Valor meta', style: 'width:20%;', class: 'text-center', columna: 'ValorMetaIndicadorAuditoria'
                    },
                    {
                        leyenda: 'Unidad', style: 'width:20%;', class: 'text-center', columna: 'UnidadAuditoria'
                    },
                    {
                        leyenda: 'Valor seguimiento', style: 'width:20%;', class: 'text-center', columna: 'ValorSeguimientoAuditoria'
                    },
                    {
                        leyenda: 'Observación', style: 'width:20%;', class: 'text-center', columna: 'ObservacionAuditoria'
                    },
                    {
                        leyenda: 'Fecha seguimiento', style: 'width:20%;', class: 'text-center', columna: 'FechaSeguimientoStr'
                    },
                    {
                        leyenda: 'Estado', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'EstadoIndicador'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Estado de creación', style: 'width:20%;', class: 'text-center', columna: 'SentenciaAuditoria'
                    },
                    {
                        leyenda: 'Fecha auditoría', style: 'width:20%;', class: 'text-center', columna: 'FechaAuditoriaStr'
                    },
                ],
                modelo: [
                     {
                         propiedad: 'TipoIndicador', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'NombreIndicadorAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'ValorMetaIndicadorAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'UnidadAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'ValorSeguimientoAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'ObservacionAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaSeguimientoStr', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'EstadoIndicador', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'SentenciaAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaAuditoriaStr', style: 'text-align: justify;'
                     },
                ],
                url: '@Url.Action("CargarGrillaHistorial", "IndicadorAuditoria")' + '/' + @ViewBag.idIndicadorBosque,
                limite: [5, 10, 20],
                columna: 'Id_IndicadorBosqueAuditoria',
                paginable: true,
                filtrable: true,
                columna_orden: 'DESC'
            };
            var GridRecursosBosques = $("#IndexIndicadoresBosquesHistorial").anexGrid(DataIndicadoresHistorial);

        });
    </script>
}