﻿<br />
<br />
<div class="table-responsive">
    <div id="IndexIndicadoresBosquesHistorialPrincipal"></div>
</div>
<script>
        $(function () {
            var DataIndicadoresHistorialPrincipal = {
                class: 'table-striped table-bordered table-responsive',
                columnas: [
                    {
                        leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoIndicador'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'NombreIndicadorAuditoria'//, filtro: function () {
                        //    return anexGrid_select({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Valor meta', style: 'width:20%;', class: 'text-center', columna: 'ValorMetaIndicadorAuditoria'
                    },
                    {
                        leyenda: 'Unidad', style: 'width:20%;', class: 'text-center', columna: 'UnidadAuditoria'
                    },
                    {
                        leyenda: 'Valor seguimiento', style: 'width:20%;', class: 'text-center', columna: 'ValorSeguimientoAuditoria'
                    },
                    {
                        leyenda: 'Observacion', style: 'width:20%;', class: 'text-center', columna: 'ObservacionAuditoria'
                    },
                    {
                        leyenda: 'Fecha seguimiento', style: 'width:20%;', class: 'text-center', columna: 'FechaSeguimientoStr'
                    },
                    {
                        leyenda: 'Estado', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'EstadoIndicador'//, filtro: function () {
                        //    return anexGrid_input({
                        //        type: 'text'
                        //    });
                        //}
                    },
                    {
                        leyenda: 'Estado de creacion', style: 'width:20%;', class: 'text-center', columna: 'SentenciaAuditoria'
                    },
                    {
                        leyenda: 'Fecha auditoria', style: 'width:20%;', class: 'text-center', columna: 'FechaAuditoriaStr'
                    },
                    {
                        leyenda: 'Usuario', style: 'width:20%;', class: 'text-center', columna: 'Aud_User'
                    },
                ],
                modelo: [
                     {
                         propiedad: 'TipoIndicador', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'NombreIndicadorAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'ValorMetaIndicadorAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'UnidadAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'ValorSeguimientoAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'ObservacionAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaSeguimientoStr', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'EstadoIndicador', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'SentenciaAuditoria', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaAuditoriaStr', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'Aud_User', style: 'text-align: justify;'
                     },
                ],
                url: '@Url.Action("CargarGrillaHistorialPrincipal", "IndicadorAuditoria")',
                limite: [5, 10, 20],
                columna: 'Id_IndicadorBosqueAuditoria',
                paginable: true,
                filtrable: true,
                columna_orden: 'DESC'
            };
            var GridRecursosBosques = $("#IndexIndicadoresBosquesHistorialPrincipal").anexGrid(DataIndicadoresHistorialPrincipal);

        });
</script>
