﻿<br />
<br />
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.18/c3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/styles/main_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/responsive.css">
   
</head>
<script>



    function LoadGraficas(){
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("CantidadBosques", "Tablero")',
            cache: false,
            success: function (result) {
                GraficarGauge('grf00', [result.Nombre,result.Cantidad], 100 , ' bosques', 250, 40)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("DistribucionBosques", "Tablero")',
            cache: false,
            success: function (result) {
                //console.log(result);
                GraficarDatos('grf01', result,['Nombre','Cantidad'],350, 'donut')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("BeneficiandoBosques", "Tablero")',
            cache: false,
            success: function (result) {
                data = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo +' ( '+ value.Unidad + ' )',value.Cantidad])
                });
                GraficarDatos('grf02', data,['Nombre','Cantidad'],350, 'donut', true)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("LogrosBosques", "Tablero")',
            cache: false,
            success: function (result) {
                data = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo +' ( '+ value.Indicador + ' )',value.Avance])
                });
                GraficarDatos('grf03', data,['Nombre','Cantidad'],450,'pie',true)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("InversionesBosques", "Tablero")',
            cache: false,
            success: function (result) {
               // console.log(result)
                data = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo,value.Presupuesto])
                });
                GraficarDatos('grf04', data,['Nombre','Cantidad'],350,'pie',true,true)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("InversionistasBosques", "Tablero")',
            cache: false,
            success: function (result) {
                GraficarDatos('grf05', result,['Nombre','Cantidad'],350,'donut')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("ActividadesBosques", "Tablero")',
            cache: false,
            success: function (result) {
                //console.log(result);
                GraficarDatos('grf06', result,['Tipo','Cantidad'],250, 'pie')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });
        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("ProductosServiciosBosques", "Tablero")',
            cache: false,
            success: function (result) {
                //console.log(result);
                GraficarDatos('grf07', result,['Nombre','Cantidad'],350, 'pie')
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });


        $.ajax({
            contentType: "application/json; charset=utf-8",
            type: "GET",
            dataType: 'json',
            url: '@Url.Action("HistorialIndicadores", "Tablero")',
            cache: false,
            success: function (result) {
                data = [];
                data2 = [];
                $.each(result,function(i,value){
                    data.push([value.Tipo,value.Presupuesto])
                });
                //GraficarDatos2D('grf08', result,['indicador','mes'],250)
            },
            fail: function (xhr, status) {
                alert(status);
            }
        });

    }



    function GraficarDatos(canvas, json, Label, alto, tipo, preprocesado, format) {
        var data = [];
        if (preprocesado) {
            data = json
        }
        else {
            $.each(json, function (i, value) {
                data.push([value[Label[0]], value[Label[1]]])
            });
        }
        chart = c3.generate({
            bindto: '#' + canvas,
            data: {
                columns: data,
                type: tipo
            },
            pie: {
                label: {
                    format: function (value, ratio, id) {
                        if (format)
                            return '$' + Number(value).toLocaleString('es-CO');
                        return value;
                    }
                }
            },
            donut: {
                label: {
                    format: function (value, ratio, id) {
                        if (format)
                            return '$' + Number(value).toLocaleString('es-CO');
                        return value;
                    }
                }
            },
            size: {
                height: alto
            }
        });
    }

    function GraficarGauge(canvas, data, maximo, unidad, alto, ancho) {
        var chart = c3.generate({
            bindto: '#' + canvas,
            data: {
                columns: [data],
                type: 'gauge'
            },
            gauge: {
                label: {
                    format: function (value, ratio, id) {
                        return d3.format(' ')(value);
                    }
                },
                min: 0, // 0 is default, //can handle negative min e.g. vacuum / voltage / current flow / rate of change
                max: maximo, // 100 is default
                units: unidad,
                width: ancho // for adjusting arc thickness
            },
            color: {
                pattern: ['#FF0000', '#F97600', '#F6C600', '#60B044'], // the three color levels for the percentage values.
                threshold: {
                    values: [30, 60, 90, 100]
                }
            },
            size: {
                height: alto
            }
        });
    }

    LoadGraficas();

</script>



    <div class="reviews">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="reviews_title_container">
                        <br />
                        <h3 class="reviews_title">Tablero</h3>
                        <br />
                        <div id="Tablero" class="w3-container BosquesPaz" style="display:none">
                            <div id="TableroContainer" style="width:100%">
                                <div class="row">
                                    <div class="col-md-5"></div>
                                    <div class="col-md-2">
                                        <div class="col-md-2">
                                            <h3>Cargando...</h3>
                                        </div>
                                        <div class="col-md-10">
                                            <div style='width:200px; height:200px;'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-5"></div>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="row">
                                <div class="col-md-6 w3-border w3-round w3-border-gray">
                                    <h6>En la actualidad existen:</h6>
                                    <div id="grf00">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 w3-border w3-round w3-border-gray">
                                    <h6>Las familias a cargo de los bosques resaltan actividades de:</h6>
                                    <div id="grf06">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-6 w3-border w3-round w3-border-gray">
                                    <h6>Distribuidos en el país:</h6>
                                    <div id="grf01">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 w3-border w3-round w3-border-gray">
                                    <h6>Los bosques de paz benefician más de:</h6>
                                    <div id="grf02">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-12 w3-border w3-round w3-border-gray">
                                    <h6>Los bosques de paz han logrado en el último año</h6>
                                    <div id="grf03">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <div class="row">
                                <div class="col-md-4 w3-border w3-round w3-border-gray">
                                    <h6>Los bosques de paz, han entusiasmado inversionistas, colaboradores:</h6>
                                    <div id="grf05">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 w3-border w3-round w3-border-gray">
                                    <h6>Las familias a cargo de los bosques ofrecen nuevos productos y servicios:</h6>
                                    <div id="grf07">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 w3-border w3-round w3-border-gray">
                                    <h6>Los bosques de paz consolidan inversiones en recursos:</h6>
                                    <div id="grf04">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br />
                            <br />
                            <br />
                            <div class="row" style="display:none;">
                                <div class="col-md-1">
                                </div>
                                <div class="col-md-5 w3-border w3-round w3-border-gray">
                                    <h6></h6>
                                    <div id="grf08">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-5 w3-border w3-round w3-border-gray">
                                    <h6></h6>
                                    <div id="grf09">
                                        <div class="row">
                                            <div style='width:200px; height:200px; -ms-transform: scale(0.5,0.5); -webkit-transform: scale(0.5,0.5); transform: scale(0.5,0.5);'>
                                                <div class='loader' id='loader'></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-1">
                                </div>
                            </div>
                            <br />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


