﻿@model BosquesPaz.Models.FichasBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

@using (Ajax.BeginForm("Create", "Ficha", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "FichasContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_FichaBosque)
        <div class="row">
            <div class="col-md-3">
                <label>Area(hectáreas):</label>
            </div>
            <div class="col-md-6">
                @Html.EditorFor(model => model.NumeroArea, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroArea, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Número de habitantes:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NumeroHabitante, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NumeroHabitante, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Fecha de solicitud:</label>
            </div>
            <div class="col-md-8">
                @{ string fechaSolicitud = null;}
                @if (Model.FechaSolicitud == Convert.ToDateTime("01/01/0001"))
                {
                    fechaSolicitud = "dd / mm / yyyy";
                }
                else
                {
                    fechaSolicitud = Model.FechaSolicitudStr;
                }
                <div class="input-group">
                    @Html.EditorFor(model => model.FechaSolicitud, new { htmlAttributes = new { @id = "FechaSolicitud", @class = "datepicker form-control", @placeholder = @fechaSolicitud, @type = "text" } })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.FechaSolicitud, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Fecha de autorización:</label>
            </div>
            <div class="col-md-8">
                @{ string fechaAutorizacion = null;}
                @if(Model.FechaAutorizacion == Convert.ToDateTime("01/01/0001"))
                {
                    fechaAutorizacion = "dd / mm / yyyy";
                }
                else
                {
                    fechaAutorizacion = Model.FechaAutorizacionStr;
                }
                <div class="input-group">
                    @Html.EditorFor(model => model.FechaAutorizacion, new { htmlAttributes = new { @id = "FechaAutorizacion", @class = "datepicker form-control", @placeholder = @fechaAutorizacion, @type = "text" } })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.FechaAutorizacion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Características del territorio:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.CaracteristicaTerritorio, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CaracteristicaTerritorio, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Características sociales:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.CaracteristicaSocial, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CaracteristicaSocial, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Características demográficas:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.CaracteristicaDemografica, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CaracteristicaDemografica, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Características medioambientales:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.CaracteristicaMedioAmbiental, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.CaracteristicaMedioAmbiental, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Descripción de como de llegar:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.DescripcionUbicacion, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.DescripcionUbicacion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Estado:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_EstadoFicha, new SelectList(ViewBag.EstadosFichas, "Id_EstadoFicha", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_EstadoFicha, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    @{
                        ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                        var infraestructura = new Infraestructura();
                        EntidadInfoUsuario info = null;
                        if (Session["infoUsuario"] != null)
                        {
                            info = Session["infoUsuario"] as EntidadInfoUsuario;
                        }
                        }
                    @if (infraestructura.PermisoUsuario(info, "Crear", "Ficha"))
                    {
                        <input type="submit" value="Guardar" class="btn btn-default" />
                    }
                </div>
            </div>
        </div>
    </div>
}

<script>
    setDatePicker('FechaSolicitud');
    $(".chosen-select").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_multiple: 'SELECCIONE...',
        display_selected_options: false
    });

    setDatePicker('FechaAutorizacion');
    $(".chosen-select").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_multiple: 'SELECCIONE...',
        display_selected_options: false
    });

    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
