﻿@model BosquesPaz.Models.FichasBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Area(hectáreas):</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NumeroArea, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Número de habitantes:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NumeroHabitante, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de solicitud:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaSolicitudStr, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha de autorización:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaAutorizacionStr, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Características del territorio:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.CaracteristicaTerritorio, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Características sociales:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.CaracteristicaSocial, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Características demográficas:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.CaracteristicaDemografica, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Características medioambientales:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.CaracteristicaMedioAmbiental, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Descripción de como de llegar:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.DescripcionUbicacion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Estado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.EstadosFichas.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @{
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "Ficha"))
                {
                    <input id="btnEditarFicha" type="button" onclick="EditarFicha(@Model.Id_FichaBosque)" value="Editar" class="btn btn-form" />
                }
            </div>
        </div>
    </div>
</div>
