﻿@model BosquesPaz.Models.IndicadoresBosques


@using (Ajax.BeginForm("Create", "Indicador", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "IndicadoresContainer" }))
{
    @Html.HiddenFor(model => model.Aud_User)
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_Bosque)
        <div class="row">
            <div class="col-md-3">
                <label>Tipo:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_TipoIndicador, new SelectList(ViewBag.TiposIndicadores, "Id_TipoIndicador", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_TipoIndicador, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NombreIndicador, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreIndicador, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Valor Meta:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ValorMeta, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorMeta, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Unidad:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Unidad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Unidad, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Valor seguimiento:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.ValorSeguimiento, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ValorSeguimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Observaciones:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Observacion, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Observacion, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Fecha seguimiento:</label>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    @Html.EditorFor(model => model.FechaSeguimiento, new { htmlAttributes = new { @id = "FechaSeguimiento", @class = "datepicker form-control", @placeholder = "dd / mm / yyyy", @type = "text" } })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.FechaSeguimiento, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Estado:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_EstadoIndicador, new SelectList(ViewBag.EstadosIndicadores, "Id_EstadoIndicador", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_EstadoIndicador, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnListadoIndicadores" type="button" onclick="cargarListaIndicadores(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    setDatePicker('FechaSeguimiento');
    $(".chosen-select").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_multiple: 'SELECCIONE...',
        display_selected_options: false
    });

    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
