﻿@model BosquesPaz.Models.IndicadoresBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios
<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TiposIndicadores.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NombreIndicador, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Valor meta:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.ValorMeta, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Unidad:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Unidad, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Valor seguimiento:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.ValorSeguimiento, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Observaciones:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Observacion, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha seguimiento:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaSeguimientoStr, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Estado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.EstadosIndicadores.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="w3-container">
            <div class="w3-panel w3-border w3-round w3-border-gray">
                <div class="w3-row">
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Historial');">
                        <div class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue" style="width:20%;">Historial</div>
                    </a>
                </div>
                <div id="Historial" class="w3-container bosque">
                    <div id="HistorialIndicadoresContainer" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @{ 
                    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "Indicadores"))
                {
                    
                    <input id="btnEditarIndicadoresBosques" type="button" onclick="EditarIndicadorBosque(@Model.Id_IndicadorBosque)" value="Editar" class="btn btn-form" />
                }
                <input id="btnListadoRecursosBosques" type="button" onclick="cargarListaIndicadores(@Model.Id_Bosque)" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>
<script>
    cargarListaAdministradorIndicadoresHistorial(@Model.Id_IndicadorBosque);
</script>

