﻿@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios
<br />
<br />
@{ 
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}
@if (infraestructura.PermisoUsuario(info, "Crear", "Indicadores"))
{
    <input id="btnCrearIndicadorBosque" type="button" onclick="CrearIndicador(@ViewBag.idBosque);" value="Nuevo" class="btn btn-new" />
}
<br />
<br />
<div class="table-responsive">
    <div id="IndexIndicador"></div>
</div>
<br />


<script>
    ;
    $(function () {
        var DataIndicador = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Nombre', style: 'width:20%;', class: 'text-center', columna: 'NombreIndicador'
                },
                {
                    leyenda: 'Valor Meta', style: 'width:20%;', class: 'text-center', columna: 'ValorMeta'
                },
                {
                    leyenda: 'Valor Seguimiento', style: 'width:20%;', class: 'text-center', columna: 'ValorSeguimiento'
                },
                {
                    leyenda: 'Observación', style: 'width:20%;', class: 'text-center', columna: 'Observacion'
                },
                {
                    leyenda: 'Fecha Seguimiento', style: 'width:20%;', class: 'text-center', columna: 'FechaSeguimientoStr'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleIndicador',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_IndicadorBosque
                         });
                     }
                 },
                 {
                     propiedad: 'NombreIndicador', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'ValorMeta', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'ValorSeguimiento', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Observacion', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'FechaSeguimientoStr', style: 'text-align: justify;'
                 },
            ],
            url: '@Url.Action("CargarGrilla", "Indicador")' + '/' + @ViewBag.idBosque,
            limite: [5, 10, 20],
            columna: 'Id_IndicadorBosque',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridRecursosBosques = $("#IndexIndicador").anexGrid(DataIndicador);

        GridRecursosBosques.tabla().on('click', '.btn-DetalleIndicador', function () {
            DetalleIndicador(this.value);
        });
    });
</script>
