﻿@{
Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <title>EcoTech - Producto</title>
    <link rel="stylesheet" type="text/css" href="~/styles/product_styles.css">
    <link rel="stylesheet" type="text/css" href="~/styles/product_responsive.css">
</head>
<!-- Producto -->
<div class="single_product">
        <div class="container">
            <div class="row">
                <!-- Selected Image -->
                <div class="col-lg-5 order-lg-2 order-1">
                    <div class="image_selected">
                        <script>LoadPhotoProductoServicio(@ViewBag.Id);</script>
                        <div class='ps_@(@ViewBag.Id)'></div>
                    </div>
                </div>
                <!-- Description -->
                <div class="col-lg-5 order-3">
                    <div class="product_description">
                        <div class="product_category">@ViewBag.Tipo</div>
                        <div class="product_name">@ViewBag.Nombre</div>
                        <div class="rating_r rating_r_4 product_rating"><i></i><i></i><i></i><i></i><i></i></div>
                        <div class="product_text">
                            <p>@ViewBag.Descripcion</p>
                        </div>
                        <div class="product_price">Precio: $@ViewBag.Precio COP</div>
                             <!--   <div class="button_container">
                                    <button type="button" class="button cart_button">Contactar</button>
                                    <div class="product_fav"><i class="fas fa-heart"></i></div>
                                </div>-->
                    </div>
                </div>

            </div>
        </div>
</div>
<!-- Información detallada -->
<div class="viewed">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="viewed_title_container">
                        <h3 class="viewed_title">Información</h3>
                    </div>    
                    <br>
                    <p><b>Nombre Bosque:</b> @ViewBag.NombreBosque</p>                                
                    <p><b>Departamento:</b> @ViewBag.Departamento</p> 
                    <p><b>Municipio:</b> @ViewBag.Municipio</p> 
                </div>
            </div>
        </div>
</div>  

<script src="~/js/product_custom.js"></script>    