﻿@using (Ajax.BeginForm("Index", "ProductoServicioBosques", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "ProductosServiciosBosquesContainer" }))
{
    <br />
    <br />
    <div class="table-responsive">
        <div id="IndexProductosServiciosBosques"></div>
    </div>
    <script>
        var idBosque = 0;
        $(function () {
            var DataProductosServiciosBosques = {
                class: 'table-striped table-bordered table-responsive',
                columnas: [
                    {
                        leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                    },
                    {
                        leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoProductoServicio'//, filtro: function () {
                    },
                    {
                        leyenda: 'Nombre', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'Nombre'
                    },
                    {
                        leyenda: 'Descripcion', style: 'width:20%;', class: 'text-center', columna: 'Descripcion'
                    },
                    {
                        leyenda: 'Imagen', style: 'width:20%;', class: 'text-center', columna: 'Foto'
                    },
                    {
                        leyenda: 'Precio', style: 'width:20%;', class: 'text-center', columna: 'Precio'
                    },
                    {
                        leyenda: 'Bosque', style: 'width:20%;', class: 'text-center', columna: 'NombreBosque'
                    },
                    {
                        leyenda: 'Departamento', style: 'width:20%;', class: 'text-center', columna: 'Departamento'
                    },
                    {
                        leyenda: 'Municipio', style: 'width:20%;', class: 'text-center', columna: 'Municipio'
                    },
                    {
                        leyenda: 'Fecha de modificacion', style: 'width:20%;', class: 'text-center', columna: 'FechaActualizacion'
                    },
                ],
                modelo: [
                     {
                        formato: function (tr, obj, valor) {
                            return anexGrid_boton({
                                class: 'btn btn-default btn-DetalleProductoServicio',
                                contenido: '<span class="glyphicon glyphicon-edit" />',
                                value: "?m=Bosques&id=" + obj.Id_Bosque + '&mb=Productos&mbid=' + obj.Id_ProductoServicio
                            });
                        }
                     },
                     {
                         propiedad: 'TipoProductoServicio', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'Nombre', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'Descripcion', style: 'text-align: justify;'
                     },
                     {
                         formato: function (tr, obj, valor) {
                             return anexGrid_boton({
                                 class: 'btn btn-default btn-ImagenesProductoServicio',
                                 contenido: '<span class="glyphicon glyphicon-picture" />',
                                 value: obj.Id_ProductoServicio
                             });
                         }
                     },
                     {
                         propiedad: 'Precio', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'NombreBosque', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'Departamento', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'Municipio', style: 'text-align: justify;'
                     },
                     {
                         propiedad: 'FechaActualizacion', style: 'text-align: justify;'
                     },
                ],
                url: '@Url.Action("CargarGrilla", "ProductoServicioBosques")',
                limite: [5, 10, 20],
                columna: 'Id_ProductoServicio',
                paginable: true,
                filtrable: true,
                columna_orden: 'DESC'
            };
            var GridProductosServiciosBosques = $("#IndexProductosServiciosBosques").anexGrid(DataProductosServiciosBosques);

            GridProductosServiciosBosques.tabla().on('click', '.btn-DetalleProductoServicio', function () {
                DetalleProductoServicioBosques(this.value);
            });
            GridProductosServiciosBosques.tabla().on('click', '.btn-ImagenesProductoServicio', function () {
                LoadPhotosProductosServicios(this.value);
            });
        });

        function DetalleProductoServicioBosques(cadena) {
            location.href = cadena;
        }
    </script>
}
