﻿@*Referencia a al clase del modelo y clases del servicio web*@
@model BosquesPaz.Models.ActividadesBosques
@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Tipo:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.TiposActividades.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Nombre:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.NombreActividad, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha inicio:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaInicioStr, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Fecha fin:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.FechaFinStr, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Porcentaje de avance:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.PorcentajeAvance, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Avances:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.Avance, new { @class = "form-control" })
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Estado:</label>
        </div>
        <div class="col-md-8">
            @Html.DisplayFor(model => model.EstadosActividades.Nombre, new { @class = "form-control" })
        </div>
    </div>
    <div id="AdministradorRecursosContainer"></div>
    <br />
    <br />
    <div class="row">
        <div class="w3-container">
            <div class="w3-panel w3-border w3-round w3-border-gray">
                <div class="w3-row">
                    <a href="javascript:void(0)" onclick="openBosques(event, 'Historial');">
                        <div class="w3-third tablink bosquetablink w3-bottombar w3-hover-light-grey w3-padding w3-border-blue" style="width:20%;">Historial</div>
                    </a>
                </div>
                <div id="Historial" class="w3-container bosque">
                    <div id="HistorialActividadesContainer" style="width:100%">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br />
    <br />
    <div class="row">
        <div class="col-xs-9"></div>
        <div class="col-xs-3">
            <div class="form-group">
                @{ 
                    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
                    var infraestructura = new Infraestructura();
                    EntidadInfoUsuario info = null;
                    if (Session["infoUsuario"] != null)
                    {
                        info = Session["infoUsuario"] as EntidadInfoUsuario;
                    }
                }
                @if (infraestructura.PermisoUsuario(info, "Editar", "Actividades"))
                {
                    <input id="btnEditarActividadesBosques" type="button" onclick="EditarActividadBosque(@Model.Id_ActividadBosque)" value="Editar" class="btn btn-form" />
                }
                <input id="btnListadoRecursosBosques" type="button" onclick="cargarListaAdministradorActividades(@Model.Id_Bosque);" value="Volver" class="btn btn-form" />
            </div>
        </div>
    </div>
</div>
<script>
    cargarListaAdministradorActividadesHistorial(@Model.Id_ActividadBosque);
</script>
