﻿@model BosquesPaz.Models.ActividadesBosques

@using (Ajax.BeginForm("Edit", "Actividad", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "AdministradorActividadesContainer" }))
{
    <div class="form-group">
        <br />
        <br />
        @Html.HiddenFor(model => model.Id_Bosque)
        @Html.HiddenFor(model => model.Id_ActividadBosque)
        <div class="row">
            <div class="col-md-3">
                <label>Tipo:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_TipoActividad, new SelectList(ViewBag.TiposActividades, "Id_TipoActividad", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_TipoActividad, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NombreActividad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NombreActividad, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Fecha inicio:</label>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    @Html.EditorFor(model => model.FechaInicio, new { htmlAttributes = new { @id = "FechaInicio", @class = "datepicker form-control", @placeholder = Model.FechaInicioStr, @type = "text" } })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.FechaInicio, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Fecha fin:</label>
            </div>
            <div class="col-md-8">
                <div class="input-group">
                    @Html.EditorFor(model => model.FechaFin, new { htmlAttributes = new { @id = "FechaFin", @class = "datepicker form-control", @placeholder = Model.FechaFinStr, @type = "text" } })
                    <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                </div>
                @Html.ValidationMessageFor(model => model.FechaFin, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Porcentaje del avance:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.PorcentajeAvance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PorcentajeAvance, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Avances:</label>
            </div>
            <div class="col-md-8">
                @Html.TextAreaFor(model => model.Avance, 5, 100, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Avance, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Estado:</label>
            </div>
            <div class="col-md-6">
                @Html.DropDownListFor(model => model.Id_EstadosActividades, new SelectList(ViewBag.EstadosActividades, "Id_EstadosActividades", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single" })
                @Html.ValidationMessageFor(model => model.Id_EstadosActividades, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                    <input id="btnDetalleActividadBosque" type="button" onclick="DetalleActividadBosque(@Model.Id_ActividadBosque)" value="Volver" class="btn btn-form" />
                </div>
            </div>
        </div>
    </div>
}

<script>
    setDatePicker('FechaInicio');
    setDatePicker('FechaFin');
    $(".chosen-select").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_multiple: 'SELECCIONE...',
        display_selected_options: false
    });
    setDatePicker('FechaFin');
    $(".chosen-select").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_multiple: 'SELECCIONE...',
        display_selected_options: false
    });
    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });
</script>
