﻿@using BosquesPaz.Helpers
@using BosquesPaz.ServiceReferenceFuncionarios;
<br />
<br />
@{ 
    ///Realiza la instancia de la clase infraestructura para verificar los permisos del usuario
    var infraestructura = new Infraestructura();
    EntidadInfoUsuario info = null;
    if (Session["infoUsuario"] != null)
    {
        info = Session["infoUsuario"] as EntidadInfoUsuario;
    }
}
@if (infraestructura.PermisoUsuario(info, "Crear", "Actividades"))
{
    <input id="btnCrearActividadBosque" type="button" onclick="CrearActividad(@ViewBag.idBosque);" value="Nueva" class="btn btn-new" />
}
<br />
<br />
<div class="table-responsive">
    <div id="IndexActividadesBosques"></div>
</div>
<br />

<script>    ;
    $(function () {
        var DataActividadesBosques = {
            class: 'table-striped table-bordered table-responsive',
            columnas: [
                {
                    leyenda: 'Detalle', style: 'width:15px;', class: 'text-center'
                },
                {
                    leyenda: 'Tipo', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'TipoActividad'//, filtro: function () {
                    //    return anexGrid_input({
                    //        type: 'text'
                    //    });
                    //}
                },
                {
                    leyenda: 'Estado', style: 'width:150px;', class: 'text-center', ordenable: true, columna: 'EstadoActividad'//, filtro: function () {
                    //    return anexGrid_select({
                    //        type: 'text'
                    //    });
                    //}
                },
                {
                    leyenda: 'Nombre', style: 'width:20%;', class: 'text-center', columna: 'NombreActividad'
                },
                {
                    leyenda: 'Fecha Inicio', style: 'width:20%;', class: 'text-center', columna: 'FechaInicioStr'
                },
                {
                    leyenda: 'Fecha Fin', style: 'width:20%;', class: 'text-center', columna: 'FechaFinStr'
                },
                {
                    leyenda: 'Porcentaje Avance', style: 'width:20%;', class: 'text-center', ordenable: true, columna: 'PorcentajeAvance'//, filtro: function () {
                    //    return anexGrid_input({
                    //        type: 'text'
                    //    });
                    //}
                },
                {
                    leyenda: 'Avance', style: 'width:20%;', class: 'text-center', columna: 'Avance'
                },
            ],
            modelo: [
                 {
                     formato: function (tr, obj, valor) {
                         return anexGrid_boton({
                             class: 'btn btn-default btn-DetalleActividadBosque',
                             contenido: '<span class="glyphicon glyphicon-edit" />',
                             value: obj.Id_ActividadBosque
                         });
                     }
                 },
                 {
                     propiedad: 'TipoActividad', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'EstadoActividad', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'NombreActividad', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'FechaInicioStr', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'FechaFinStr', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'PorcentajeAvance', style: 'text-align: justify;'
                 },
                 {
                     propiedad: 'Avance', style: 'text-align: justify;'
                 },
            ],
            url: '@Url.Action("CargarGrilla", "Actividad")' + '/' + @ViewBag.idBosque,
            limite: [5, 10, 20],
            columna: 'Id_ActividadBosque',
            paginable: true,
            filtrable: true,
            columna_orden: 'DESC'
        };
        var GridRecursosBosques = $("#IndexActividadesBosques").anexGrid(DataActividadesBosques);

        GridRecursosBosques.tabla().on('click', '.btn-DetalleActividadBosque', function () {
           DetalleActividadBosque(this.value);
        });
    });
</script>
