﻿@model BosquesPaz.Models.DatosUsuarios

@using (Ajax.BeginForm("Create", "Juego", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "JuegosContainer" }))
{
    <br />
    <br />
    <div class="form-group">
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Imagenes:</label>
            </div>
            <div class="col-md-8">
                <span class="glyphicon glyphicon-picture" />
                <input id="btnImagenesIndividuosEspecies" type="button" onclick="LoadPhotosUsuarios()" value="Imagenes" class="btn btn-form" />
                @Html.HiddenFor(model => model.Id_FotoUsuario)
                @Html.ValidationMessageFor(model => model.Id_FotoUsuario, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Departamento:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Id_Departamento, new SelectList(ViewBag.Departamentos, "Id_Departamento", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single", @id = "Departamentos", @onchange = "onChangeDepartamentos($(this).val(),'MunicipiosBosques')" })
                @Html.ValidationMessageFor(model => model.Id_Departamento, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Municipio:</label>
            </div>
            <div class="col-md-8">
                @Html.DropDownListFor(model => model.Id_Municipio, new SelectList(ViewBag.Municipios, "Id_Municipio", "Nombre"), "SELECCIONE...", new { @class = "chosen-select-single", @id = "MunicipiosBosques" })
                @Html.ValidationMessageFor(model => model.Id_Municipio, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nombre:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.Nombre, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nick name:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Correo:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Correo, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Guardar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}
<script>
    $(".chosen-select-single").chosen({
        no_results_text: "Sin Resultado",
        width: "100%",
        search_contains: true,
        placeholder_text_single: 'SELECCIONE...',
        display_selected_options: false
    });

</script>
