﻿@model IEnumerable<BosquesPaz.Models.FotosUsuarios>

<style>
    .mySlides {
        display: none;
    }

    .demo {
        cursor: pointer;
    }
</style>

@{
    int item = 1;
}
@if (Model.Count() > 0)
{
    <div class="w3-content" style="max-width:800px">
        <div class="w3-row-padding w3-section" style="max-width:100%; min-height:400px; padding=20px;">
            @foreach (var foto in Model)
            {
                <img class="mySlides" src="/Multimedia/ImagenUsuarios?img=@foto.Url.Split('\\').LastOrDefault()" style="max-width:100%; max-height:400px;margin:auto;">
            }
        </div>
        <div class="w3-row-padding w3-section">
            @foreach (var foto in Model)
            {
                <div class="w3-col s1">
                    <img class="demo w3-opacity w3-hover-opacity-off" src="/Multimedia/ImagenUsuarios?img=@foto.Url.Split('\\').LastOrDefault()" style="width:100%; margin:auto;" onclick="currentDiv(@item)">
                </div>
                item++;
            }
        </div>
        <br />
        <div class="col-md-1"></div>
        <div>
            <input id="btnCargarImagen" type="button" onclick="CargarImagenAvatar(posicionImagen)" value="Seleccionar" class="btn btn-form" />
        </div>
    </div>

    <script>

        var posicionImagen = 0;
        var slideIndex = 1;
        showDivs(slideIndex);

        function plusDivs(n) {
            showDivs(slideIndex += n);
        }

        function currentDiv(n) {
            posicionImagen = n;
            showDivs(slideIndex = n);
        }

        function showDivs(n) {
            var i;
            var x = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            if (n > x.length) { slideIndex = 1 }
            if (n < 1) { slideIndex = x.length }
            for (i = 0; i < x.length; i++) {
                x[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" w3-opacity-off", "");
            }
            x[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " w3-opacity-off";
        }
    </script>
}
@if (Model.Count() == 0)
{
    <div class="w3-content" style="max-width:800px">
        No hay fotos para mostrar...
    </div>
}
