﻿<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-3">
            <input type="button" value="Sopa de letras" onclick="CargarSopaLetras()" class="btn btn-default btn-lg" />
        </div>
        <div class="col-md-4">
            <input type="button" value="Rompecabezas" onclick="CargarRompeCabezas()" class="btn btn-default btn-lg" />
        </div>
        <div class="col-md-2">
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        <div class="col-md-8">
        </div>
        <div class="col-md-2">
            <input type="button" value="Volver" onclick="VerificarDatosUsuario()" class="btn btn-default" />
        </div>
    </div>
    <br />
    <br />
</div>
