﻿@model IEnumerable<BosquesPaz.Models.FotosUsuarios>

<style>
    .fotoUsuario {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}
</style>

<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Usuario: @ViewBag.Usuario</label>
        </div>
        @if (Model.Count() > 0)
        {
            <div class="w3-row-padding w3-section" style="max-width:100%; min-height:100px; padding=5px;">
                @foreach (var foto in Model)
                {
                    <img class="fotoUsuario" src="/Multimedia/ImagenUsuarios?img=@foto.Url.Split('\\').LastOrDefault()" style="width:100px; height:100px; margin:auto;">
                }
            </div>
        }
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Rompecabezas Individuos Especies</label>
            <label>Puntaje: @ViewBag.PuntajeRompeIndividuos</label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <label>Sopa de letras Individuos Especies</label>
            <label>Puntaje: @ViewBag.PuntajeSopaIndividuos</label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Rompecabezas Productos Servicios</label>
            <label>Puntaje: @ViewBag.PuntajeRompeProductos</label>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-3">
            <label>Sopa de letras Historias</label>
            <label>Puntaje: @ViewBag.PuntajeSopaHistorias</label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <label>Rompecabezas Bosques</label>
            <label>Puntaje: @ViewBag.PuntajeRompeBosques</label>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-9"></div>
        <div class="col-md-3">
            <input id="btnCargarIndexJuegos" type="button" onclick="CargarIndexJuegos()" value="Regresar a juegos" class="btn btn-form" />
        </div>
    </div>

</div>
