﻿﻿@using BosquesPaz.Services
@using BosquesPaz.Models
@using BosquesPaz.ServiceReferenceFuncionarios;
@{
    ///Verifica que foto debe cargar para el tipo de usuario, si es un usuario de infraestructura o usuario comun
    IEnumerable<FotosProductosServicios> model = null;
    FotosService service = new FotosService();
    if (Session["infoUsuario"] != null)
    {
        var info = Session["infoUsuario"] as EntidadInfoUsuario;
        model = service.ObtenerFotoProductos(info);
    }
    else
    {
        model = service.ObtenerFotoProductosServiciosSinUsuario();
    }
}

<style>
    .demo {
        cursor: pointer;
    }
</style>

@if (model != null)
{
    <div class="form-group">
        <br />
        <div class="row">
            <div class="col-md-12">
                <input id="btnSopaLetras" type="button" onclick="CargarRompeCabezas()" value="Rompecabezas Individuos" class="btn btn-form" />
                <input id="btnSopaLetras" type="button" onclick="CargarRompeCabezasProducto()" value="Rompecabezas productos" class="btn btn-form" />
                <input id="btnSopaLetras" type="button" onclick="CargarRompeCabezasBosque()" value="Rompecabezas Bosque" class="btn btn-form" />
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div class="col-md-1">
                <label>Tiempo:</label>
            </div>
            <div class="col-md-1">
                <input id="time" name="time" value="0" size="1" disabled class="form-control" />
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <input type="button" value="Empezar" onclick="init()" class="btn btn-form" />
                </div>
            </div>
        </div>
        <br />
        <br />
        <div class="row">
            <div id="puzzle-containment" style="border-top: 1px solid #eee;border-bottom:1px solid #eee;background:#fafafa;margin:30px 0;padding:10px;text-align:center">
                <div class="pure-g" style="max-width:1280px;margin:auto">
                    <div class="pure-u-1 pure-u-md-1-2">
                        <div style="margin:10px">
                            @foreach (var foto in model)
                            {
                                <img id="source_image" class="pure-img" src="/Multimedia/Imagen?img=@foto.Url.Split('\\').LastOrDefault()">
                            }
                        </div>
                    </div>
                    <div class="pure-u-1 pure-u-md-1-2">
                        <div id="pile" style="margin:10px">
                            <div id="puzzle_solved" style="display:none;text-align:center;position:relative;top:25%">
                                <h2 style="margin:0 0 20px">¡Bien hecho!</h2>
                                <input id="btnGuardarPuntaje" type="button" onclick="GuardarJuego('RompeCabezas', puntaje, 'Productos Servicios')" value="Guardar puntaje" class="btn btn-form" />
                                <br><br>
                                @*<a href="#" class="restart-puzzle" data-grid="5">5x5</a>
                                    &nbsp; <a href="#" class="restart-puzzle" data-grid="7">7x7</a>
                                    &nbsp; <a href="#" class="restart-puzzle" data-grid="10">10x10</a>*@
                            </div>
                            <div id="puzzle_iniciar" style="display:none;text-align:center;position:relative;top:25%">
                                <h2 style="margin:0 0 20px">¡Inicia el contador!</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
        </div>
        <br />
        <div class="row">
            <div class="col-md-8">
            </div>
            <div class="col-md-2">
                <input type="button" value="Volver" onclick="CargarIndexJuegos()" class="btn btn-default" />
            </div>
        </div>
    </div>

    <script type="text/javascript">
        // jQuery UI Touch Punch 0.2.3 - must load after jQuery UI
        // enables touch support for jQuery UI
        !function (a) { function f(a, b) { if (!(a.originalEvent.touches.length > 1)) { a.preventDefault(); var c = a.originalEvent.changedTouches[0], d = document.createEvent("MouseEvents"); d.initMouseEvent(b, !0, !0, window, 1, c.screenX, c.screenY, c.clientX, c.clientY, !1, !1, !1, !1, 0, null), a.target.dispatchEvent(d) } } if (a.support.touch = "ontouchend" in document, a.support.touch) { var e, b = a.ui.mouse.prototype, c = b._mouseInit, d = b._mouseDestroy; b._touchStart = function (a) { var b = this; !e && b._mouseCapture(a.originalEvent.changedTouches[0]) && (e = !0, b._touchMoved = !1, f(a, "mouseover"), f(a, "mousemove"), f(a, "mousedown")) }, b._touchMove = function (a) { e && (this._touchMoved = !0, f(a, "mousemove")) }, b._touchEnd = function (a) { e && (f(a, "mouseup"), f(a, "mouseout"), this._touchMoved || f(a, "click"), e = !1) }, b._mouseInit = function () { var b = this; b.element.bind({ touchstart: a.proxy(b, "_touchStart"), touchmove: a.proxy(b, "_touchMove"), touchend: a.proxy(b, "_touchEnd") }), c.call(b) }, b._mouseDestroy = function () { var b = this; b.element.unbind({ touchstart: a.proxy(b, "_touchStart"), touchmove: a.proxy(b, "_touchMove"), touchend: a.proxy(b, "_touchEnd") }), d.call(b) } } }(jQuery);

        setTimeout(function start_puzzle(x) {
            $('#puzzle_solved').hide();
            $('#source_image').snapPuzzle({
                rows: x, columns: x,
                pile: '#pile',
                containment: '#puzzle-containment',
                onComplete: function () {
                    $('#source_image').fadeOut(150).fadeIn();

                    puntaje = parseInt(document.getElementById('time').value);
                    if (puntaje > 0) {
                        $('#puzzle_solved').show();
                        stop();
                    }
                    else {
                        $('#puzzle_iniciar').show();
                    }
                }
            });
        }, 200);

        $(function () {
            $('#pile').height($('#source_image').height());
            start_puzzle(7);

            $('.restart-puzzle').click(function () {
                $('#source_image').snapPuzzle('destroy');
                start_puzzle($(this).data('grid'));
            });

            $(window).resize(function () {
                $('#pile').height($('#source_image').height());
                $('#source_image').snapPuzzle('refresh');
            });
        });

        function RestartPuzzle(submodulo) {
            CargarRompeCabezas();
            CargarRompeCabezas();
        }

        var puntaje = 0;
        var cronos;
        var tiempo;
        function init() {
            stopPuzzle();
            cronos = setInterval(function () { timer() }, 1000);
        }
        function timer() {
            tiempo = parseInt(document.getElementById('time').value);
            document.getElementById('time').value = eval(tiempo + 1);
        }

        function stop() {
            clearInterval(cronos);
            puntaje = parseInt(document.getElementById('time').value);
        }

        function stopPuzzle() {
            clearInterval(cronos);
        }

        stopPuzzle();

    </script>
}
@if (model == null)
{
    <br />
    <h4>No hay fotos para jugar, regrese en una proxima ocasión.</h4>
    <br />
}
