﻿<div class="form-group">
    <br />
    <br />
    <div class="row">
        <div class="col-xs-4">
            <div class="form-group">
                <input id="btnSopaProductoServicio" type="button" onclick="CargaDeJuego(1)" value="Individuos Especies" class="btn btn-form" />
                <input id="btnSopaProductoServicio" type="button" onclick="CargaDeJuego(2)" value="Historias" class="btn btn-form" />
                @*<input name="btnSopaLetras" id="btnGetSopa" type="submit" value="Sopa" class="btn btn-form">
                    <button id='solve' class="btn btn-form">Resolver</button>*@
            </div>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-4">
            <br />
            <input id="time" name="time" value="0" size="1" disabled class="btn btn-form" />
            <input type="button" value="Empezar" onclick="init()" class="btn btn-form" />
            <input type="button" value="Reiniciar" onclick="reset()" class="btn btn-form" />
        </div>
        <div id="puzzle_iniciar" style="display:none;text-align:center;position:relative;top:25%">
            <h2 style="margin:0 0 20px">¡Inicia el contador!</h2>
        </div>
        <div id="puzzle_completo" style="display:none;text-align:center;position:relative;top:25%">
            <h2 style="margin:0 0 20px">¡Bien hecho!</h2>
            <input id="btnGuardarPuntaje" type="button" onclick="GuardarJuego('Sopa de letras', puntaje, modulo)" value="Guardar puntaje" class="btn btn-form" />
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-12">
        <div id='juego' onmouseup="myFunction(event)"></div>
        <div id='palabras' style="text-transform:uppercase"></div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-8">
    </div>
    <div class="col-md-2">
        <input type="button" value="Volver" onclick="CargarIndexJuegos()" class="btn btn-default" />
    </div>
</div>
<br />

<script type="text/javascript">
    var words = new Array();
    var cadena = null;
    var puzzleSoup = null;
    var typeSoup = null;
    var puntaje = 0;
    var modulo = null;

    CargaDeJuego(1);

    function LlamarJsonDelServidor() {
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '@Url.Action("ObtenerIndividuosEspecies", "Juego")',
            context: document.body,
            data: {},
            success: function (result) {
                $("#resultado").html('');
                for (var i = 0; i < 10; i++) {
                    $("#resultado").append(cadena = result[i].Nombre);
                    var letras = cadena.split("");
                    var arrayLetras = new Array();
                    for (var j = 0; j < letras.length; j++) {
                        if (letras[j] != " ") {
                            arrayLetras.push(letras[j]);
                        }
                    }
                    var nombre = arrayLetras.join("");
                    words.push(nombre);
                }
            },
            error: function (xhr) {
                //debugger;
                console.log(xhr.responseText);
                alert("Error");
            }
        });
    }

    function SopaHistorias() {
        $.ajax({
            type: "POST",
            traditional: true,
            async: false,
            cache: false,
            url: '@Url.Action("ObtenerHistorias", "Juego")',
            context: document.body,
            data: {},
            success: function (result) {
                $("#resultado").html('');
                for (var i = 0; i < 10; i++) {
                    $("#resultado").append(cadena = result[i].Nombre);
                    var letras = cadena.split("");
                    var arrayLetras = new Array();
                    for (var j = 0; j < letras.length; j++) {
                        if (letras[j] != " ") {
                            arrayLetras.push(letras[j]);
                        }
                    }
                    var nombre = arrayLetras.join("");
                    words.push(nombre);
                }
            },
            error: function (xhr) {
                //debugger;
                console.log(xhr.responseText);
                alert("Error");
            }
        });
    }

    function Carga(words) {
        var gamePuzzle = wordfindgame.create(words, '#juego', '#palabras');
        var puzzle = wordfind.newPuzzle(words, { height: 18, width: 18, fillBlanks: false });
        wordfind.print(puzzle);

        $('#solve').click(function () { wordfindgame.solve(gamePuzzle, words); });
        puzzleSoup = gamePuzzle;
    }

    $("#btnGetSopa").click(function () {
        var gamePuzzle = wordfindgame.create(words, '#juego', '#palabras');
        var puzzle = wordfind.newPuzzle(words, { height: 18, width: 18, fillBlanks: false });
        wordfind.print(puzzle);
    });

    $('#solve').click(function () { wordfindgame.solve(gamePuzzle, words); });

    function CargaDeJuego(tipo) {
        while (words.length > 0) {
            words.pop();
        }
        if (tipo == 1) {
            LlamarJsonDelServidor();
            modulo = 'Individuos Especies';
            $('#puzzle_completo').hide();
            
        } else if (tipo == 2) {
            modulo = 'Historias';
            SopaHistorias();
            $('#puzzle_completo').hide();
        }
        typeSoup = tipo;
        Carga(words);
        resetPuzzle();
    }

    var cronos;
    var tiempo;

    function init() {
        reset();
        stopPuzzle();
        CargaDeJuego(typeSoup);
        cronos = setInterval(function () { timer() }, 1000);
    }
    function timer() {
        tiempo = parseInt(document.getElementById('time').value);
        document.getElementById('time').value = eval(tiempo + 1);
    }
    function reset() {
        $('#puzzle_completo').hide();
        tiempo = parseInt(document.getElementById('time').value);
        document.getElementById('time').value = "0";
        CargaDeJuego(typeSoup);
        stopPuzzle();
    }

    function stop() {
        if (parseInt(document.getElementById('time').value) == 0) {
        }
        else {
            clearInterval(cronos);
            CargaDeJuego(typeSoup);
        }
    }

    function resetPuzzle() {
        tiempo = parseInt(document.getElementById('time').value);
        document.getElementById('time').value = "0";
        stopPuzzle();
    }

    function stopPuzzle() {
        clearInterval(cronos);
    }

    function myFunction(e) {
        if (parseInt(document.getElementById('time').value) == 0) {
            $('#puzzle_iniciar').show();
        }
        else {
            $('#puzzle_iniciar').hide();
            VerificarPuntaje();
        }
    }

    function VerificarPuntaje() {
        var solution = wordfind.solve(puzzleSoup, words).found;
        var verificarStop = 0;
        for (var i = 0, len = solution.length; i < len; i++) {
            var word = solution[i].word,
                orientation = solution[i].orientation,
                x = solution[i].x,
                y = solution[i].y,
                next = wordfind.orientations[orientation];

            if (!$('.' + word).hasClass('wordFound')) {
                i = solution.length;
                $('#puzzle_completo').hide();
                verificarStop = 1;
            }
        }
        if (verificarStop != 1) {
            stopPuzzle();
            $('#puzzle_completo').show();
            $('#Guardar').show();
            puntaje = parseInt(document.getElementById('time').value);
            resetPuzzle();
        }
    }

</script>
@{
    Session["SubModulo"] = 4;
}
