﻿@model BosquesPaz.Models.DatosUsuarios

@using (Ajax.BeginForm("VerificarUsuario", "Juego", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "JuegosContainer" }))
{
    <br />
    <br />
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">
                <label>Digite su nick name</label>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">
                <label>Nick name:</label>
            </div>
            <div class="col-md-8">
                @Html.EditorFor(model => model.NickName, new { htmlAttributes = new { @class = "form-control"} })
                @Html.ValidationMessageFor(model => model.NickName, "", new { @class = "text-danger" })
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-9"></div>
            <div class="col-xs-3">
                <div class="form-group">
                    <input type="submit" value="Verificar" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
}

